// Gerenal
//@import "bootstrap/bootstrap";
//@import "bootstrap/bootstrap-minimal";
//@import "bootstrap/bootstrap-touchspin";
@import "partials/_variables";
@import "partials/_mixins";
//@import "partials/_fonts";
@import "partials/_splidejs";
@import "partials/_commons";
@import "components/main";
@import "components/wrapper";
@import "components/featuredproducts";
@import "components/header";
@import "components/footer";
@import "components/newsletter";
@import "components/search-widget";
@import "components/notifications";
@import "components/errors";
@import "components/alert";
@import "components/drop-down";
@import "components/mainmenu";
@import "components/block-reassurance";
@import "components/modal-account";
@import "components/modal-cart";
//@import "components/quickview";
// @import "components/customization-modal";
