body,
html {
  height: 100%;
}

body {
  font-family: var(--font_primary);
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: var(--color_font);
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: $background_color;
}

@include media-breakpoint-up(xs){
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@include media-breakpoint-up(sm){
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@include media-breakpoint-up(md){
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@include media-breakpoint-up(lg){
  .container {
    width: 1270px;
    max-width: 100%;
  }
  .full_width_generic > .container {
    width: 1624px;
  }
}

/*** Tipos fuentes ***/
.h1, h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: 700;
}

.h2, h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: 700;
}

.h3, h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: 500;
}

.h4, h4 {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  font-weight: 500;
}

.h5, h5 {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
}

.h6, h6 {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
}

.p2 {
  font-size: $font-size-p2;
  line-height: $line-height-p2;
}

.detalle {
  font-size: $font-size-detalle;
  line-height: $line-height-detalle;
}

.text_small {
  font-size: $font-size-small;
  line-height: $line-height-small;
}

.minimo {
  font-size: $font-size-minimo;
  line-height: $line-height-minimo;
}

ul {
  padding-left: 0;
  list-style: none;
}

.page-cms .page-content,
.product-description,
#category-description,
.dbcategorydesc,
#manufacturer-short_description,
#manufacturer-description,
#custom-text {
  ul {
    padding-left: 30px;
    list-style: disc;
  }
}

a {
  color: var(--color_link);

  &:hover {
    color: var(--color_hover);
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

p {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  color: var(--color_font);
}

/*** Espacios ***/
.--mt-4 {
  margin-top: $espacio_4;
}
.--mt-8 {
  margin-top: $espacio_8;
}
.--mt-12 {
  margin-top: $espacio_8;
}
.--mt-16 {
  margin-top: $espacio_16;
}
.--mt-20 {
  margin-top: $espacio_20;
}
.--mt-24 {
  margin-top: $espacio_24;
}
.--mt-28 {
  margin-top: $espacio_28;
}
.--mt-32 {
  margin-top: $espacio_32;
}
.--mt-36 {
   margin-top: $espacio_36;
}
.--mt-40 {
  margin-top: $espacio_40;
}

/*** TITULOS ***/
.h3.title,
.h3.products-section-title,
.h1.title,
.h1.products-section-title {
  text-transform: none;
  margin: 32px 0;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: 700;
  text-align: center;
}

/*** BOTONES ***/
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px 16px;
  font-size: $font-size-boton;
  line-height: $line-height-boton;
  font-weight: 500;
  border-radius: 0;
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
  .material-icons {
    margin: -4px 0 0 0;
    font-size: 18px;
  }
}

.btn-primary {
  color: var(--button_p_color);
  background-color: var(--button_p_bk);
  border-color: var(--button_p_border);

  &.focus,
  &:focus,
  &:hover {
    color: var(--button_p_color_hover);
    background-color: var(--button_p_bk_hover);
    border-color: var(--button_p_border_hover);
  }

  &.active,
  &:active,
  &.dropdown-toggle {
    color: var(--button_p_color_hover);
    background-color: var(--button_p_bk_hover);
    border-color: var(--button_p_border_hover);
    background-image: none;
  }

  &.active.focus,
  &.active:focus,
  &.active:hover,
  &:active.focus,
  &:active:focus,
  &:active:hover {
    color: var(--button_p_color_hover);
    background-color: var(--button_p_bk_hover);
    border-color: var(--button_p_border_hover);
    outline: 0;
  }

  &.disabled,
  &:disabled {
    color: $gris_400;
    background-color: $gris_300;
    border-color: $gris_300;
  }

  &.disabled.focus,
  &.disabled:focus,
  &.disabled:hover,
  &:disabled.focus,
  &:disabled:focus,
  &:disabled:hover {
    color: $gris_400;
    background-color: $gris_300;
    border-color: $gris_300;
    outline: 0;
  }
}

.btn-secondary {
  color: var(--button_s_color);
  background-color: var(--button_s_bk);
  border-color: var(--button_s_border);

  &.focus,
  &:focus,
  &:hover {
    color: var(--button_s_color_hover);
    background-color: var(--button_s_bk_hover);
    border-color: var(--button_s_border_hover);
  }

  &.active,
  &:active,
  &.dropdown-toggle {
    color: var(--button_s_color_hover);
    background-color: var(--button_s_bk_hover);
    border-color: var(--button_s_border_hover);
    background-image: none;
  }

  &.active.focus,
  &.active:focus,
  &.active:hover,
  &:active.focus,
  &:active:focus,
  &:active:hover {
    color: var(--button_s_color_hover);
    background-color: var(--button_s_bk_hover);
    border-color: var(--button_s_border_hover);
    outline: 0;
  }

  &.disabled,
  &:disabled {
    color: $gris_400;
    background-color: $gris_300;
    border-color: $gris_300;
  }

  &.disabled.focus,
  &.disabled:focus,
  &.disabled:hover,
  &:disabled.focus,
  &:disabled:focus,
  &:disabled:hover {
    color: $gris_400;
    background-color: $gris_300;
    border-color: $gris_300;
    outline: 0;
  }
}

.btn-tertiary {
  color: var(--button_t_color);
  background-color: var(--button_t_bk);
  border-color: var(--button_t_border);

  &.focus,
  &:focus,
  &:hover {
    color: var(--button_t_color_hover);
    background-color: var(--button_t_bk_hover);
    border-color: var(--button_t_border_hover);
  }

  &.active,
  &:active,
  &.dropdown-toggle {
    color: var(--button_t_color_hover);
    background-color: var(--button_t_bk_hover);
    border-color: var(--button_t_border_hover);
    background-image: none;
  }

  &.active.focus,
  &.active:focus,
  &.active:hover,
  &:active.focus,
  &:active:focus,
  &:active:hover {
    color: var(--button_t_color_hover);
    background-color: var(--button_t_bk_hover);
    border-color: var(--button_t_border_hover);
    outline: 0;
  }

  &.disabled,
  &:disabled {
    color: $gris_400;
    background-color: $gris_300;
    border-color: $gris_300;
  }

  &.disabled.focus,
  &.disabled:focus,
  &.disabled:hover,
  &:disabled.focus,
  &:disabled:focus,
  &:disabled:hover {
    color: $gris_400;
    background-color: $gris_300;
    border-color: $gris_300;
    outline: 0;
  }
}

.btn-special {
  color: var(--button_color);
  background-color: var(--button_bk);
  border-color: var(--button_border);

  &.focus,
  &:focus,
  &:hover {
    color: var(--button_color_hover);
    background-color: var(--button_bk_hover);
    border-color: var(--button_border_hover);
  }

  &.active,
  &:active,
  &.dropdown-toggle {
    color: var(--button_color_hover);
    background-color: var(--button_bk_hover);
    border-color: var(--button_border_hover);
    background-image: none;
  }

  &.active.focus,
  &.active:focus,
  &.active:hover,
  &:active.focus,
  &:active:focus,
  &:active:hover {
    color: var(--button_color_hover);
    background-color: var(--button_bk_hover);
    border-color: var(--button_border_hover);
    outline: 0;
  }

  &.disabled,
  &:disabled {
    color: $gris_400;
    background-color: $gris_300;
    border-color: $gris_300;
  }

  &.disabled.focus,
  &.disabled:focus,
  &.disabled:hover,
  &:disabled.focus,
  &:disabled:focus,
  &:disabled:hover {
    color: $gris_400;
    background-color: $gris_300;
    border-color: $gris_300;
    outline: 0;
  }
}

.btn.disabled,
.btn.disabled:hover {
  color: $gris_400;
  background-color: $gris_300;
  border-color: $gris_300;
  outline: 0;
}

.btn-unstyle {
  padding: 0;
  text-align: inherit;
  background-color: transparent;
  border: none;

  &:focus {
    outline: 0;

    .expand-more {
      color: $primary-color;
    }
  }
}

.card {
  border: none;
}

/*** FORMS ***/
.dropdown-item:focus,
.dropdown-item:hover {
  background: none;
}

label .color,
.variant-links .color,
.custom-checkbox input[type="checkbox"] + span.color {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  margin: 0.3125rem;
  margin-right: 0.5rem;
  cursor: pointer;
  background-size: contain;
  border: 1px solid $radio-border-color;

  &.active,
  &:hover {
    border: 2px solid $gray-darker;
  }
}

.facet-label {
  &.active,
  &:hover {
    .custom-checkbox span.color {
      border: 1px solid $radio-border-color;
    }
  }
}

label,
.label {
  font-size: $font-size-base;
  color: $color-font;
  text-align: left;
  margin-bottom: $espacio_8;
}

small.label,
small.value {
  font-size: $font-size-small;
  line-height: $line-height-small;
}

/*.form-control-label {
  padding-top: 0.625rem;
}*/

.form-control {
  padding: 0.5rem 1rem;
  color: var(--color_font);
  background: inherit;
  border: 1px solid $color-font;
  width: 100%;

  &::placeholder {
    color: $gris_400;
  }

  &:focus {
    color: var(--color_font);
    outline: 0;
    border-color: var(--primary_color);

    &::placeholder {
      color: var(--primary_color);
    }
  }
}

.input-group {
  &.focus {
    outline: 0;
  }

  .form-control:focus {
    outline: none;
  }

  .form-control:disabled,
  .form-control[readonly] {
    background-color: var(--background);
  }

  .input-group-btn {
    height: 100%;
    left: -1px;

    > .btn {
      padding: 7px 16px;
      margin-left: 0;
      font-size: $font-size-base;
      line-height: $line-height-base;
      font-weight: 400;
      color: $color_font;
      background-color: #FFF;
      border: 1px solid $color_font;
      text-transform: inherit;
      box-shadow: none;

      &[data-action="show-password"] {
        padding: 7px;
        background: $gris_400;
      }
    }
  }
}

select {
  font-size: $font-size-p2;
  line-height: $line-height-p2;
}

input,
textarea {
  font-size: $font-size-p2;
  line-height: $line-height-p2;
  font-family: var(--font_primary);

  /* stylelint-disable */
  &::-webkit-input-placeholder {
    color: $gris_400;
  }

  &::-moz-placeholder {
    color: $gris_400;
  }

  &:-ms-input-placeholder {
    color: $gris_400;
  }

  &:-moz-placeholder {
    color: $gris_400;
  }

  &:active {
    &::-webkit-input-placeholder {
      color: $gris_400;
    }

    &::-moz-placeholder {
      color: $gris_400;
    }

    &:-ms-input-placeholder {
      color: $gris_400;
    }

    &:-moz-placeholder {
      color: $gris_400;
    }
  }
  /* stylelint-enable */
}

.form-control-select {
  padding: 8px 16px !important;
  font-size: $font-size-p2;
  line-height: $line-height-p2;
  background:
    $white
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=")
    no-repeat scroll right 8px center / 1.25rem 1.25rem;
  /* stylelint-disable */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* stylelint-enable */
}

.form-control-valign {
  padding-top: 0.5rem;
}

.form-control-comment {
  padding-top: 4px;
  font-size: $font-size-small;
  line-height: $line-height-small;
  color: $gris_400;
}

.form-control-submit {
  &.disabled {
    color: $white;
    background: $brand-info;
  }
}

.form-group {
  margin-bottom: 12px;

  &.has-error {
    input,
    select {
      outline: 0;
      border-color: $rojo;
    }

    .help-block {
      color: $rojo;
    }
  }
}

.group-span-filestyle {
  label {
    margin: 0;
  }

  .btn-default {
    padding: 8px 16px;
    font-size: 0.875rem;
    color: $blanco;
    text-transform: uppercase;
    background: $primary-color;
    border-radius: 0;
  }
}

.bootstrap-touchspin {
  display: inline-block;
  float: left;
  width: auto;

  input {
    &:focus {
      outline: none;
    }

    &.form-control,
    &.input-group {
      float: left;
      width: 3rem;
      height: $input-height;
      padding: 0.175rem 0.5rem;
      color: var(--color_font);
      background-color: $white;
    }
  }

  .btn-touchspin {
    @extend .btn-default;
    height: $input-height / 2 + 0.0625rem;
    background-color: $white;

    &:hover {
      background-color: $gris_200;
    }
  }

  .input-group-btn-vertical {
    float: left;
    width: auto;
    color: $gray-darker;

    .bootstrap-touchspin-up {
      border-radius: 0;

      > i {
        font-size: 12px;
      }
    }

    .bootstrap-touchspin-down {
      border-radius: 0;
    }

    .touchspin-up {
      &::after {
        content: "\E5CE";
      }
    }

    .touchspin-down {
      &::after {
        content: "\E5CF";
      }
    }

    i {
      top: 0.0625rem;
      left: 0.1875rem;
      font-size: 16px;
    }
  }
}

.radio-inline {
  margin-left: 8px;
  .custom-radio {
    margin-right: 0.5rem;
  }

  &:first-of-type {
    margin-right: 1rem;
  }
}

form {
  section {
    .form-informations {
      display: inline-block;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      color: var(--color_font);

      &-title,
      &-option {
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.25rem;
      }
    }
  }

  .form-control-label {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 500;
    color: var(--color_font);
  }
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 0;
  margin-right: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
  background: $blanco;
  border: $negro 1px solid;
  border-radius: 50%;

  input[type="radio"] {
    cursor: pointer;
    opacity: 0;

    &:checked + span {
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      width: 8px;
      height: 8px;
      background-color: $primary-color;
      border-radius: 50%;
    }

    &:focus + span {
      border-color: $gris_500;
    }
  }
}

.custom-checkbox {
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    margin-top: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    opacity: 0;

    + span {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      vertical-align: middle;
      pointer-events: none;
      cursor: pointer;
      border: 1px solid var(--color_font);
      border-radius: 0;
      //background-color: $blanco;

      .checkbox-checked {
        display: none;
        margin: 0;
        font-size: 14px;
        color: $color-font;
      }
    }

    &:checked + span {
      background-color: var(--primary_color);
      border-color: var(--primary_color);
      color: #FFF;

      .checkbox-checked {
        display: block;
        color: #FFF;
      }
    }

    &:focus + span {
      border-color: var(--primary_color);
    }
  }

  label {
    text-align: left;
    font-size: $font-size-minimo;
    line-height: $line-height-minimo;

  }
}

.text-muted {
  font-size: 0.875rem;
}

.done {
  display: inline-block;
  padding: 0 0.8125rem;
  margin-right: 1.563rem;
  color: $brand-success;
}

.thumb-mask {
  > .mask {
    position: relative;
    width: 3.438rem;
    height: 3.438rem;
    margin: $small-space 0;
    overflow: hidden;
    border: 1px solid $gris_300;

    img {
      width: 55px;
      height: 55px;
    }
  }
}

.definition-list {
  dl {
    display: flex;
    flex-wrap: wrap;

    dt {
      font-weight: 500;
    }

    dd,
    dt {
      flex: 0 0 45%;
      padding: 0.625rem;
      margin: 0.125rem;
      background: $gray-light;

      &:nth-of-type(even) {
        background: $gray-lighter;
      }
    }
  }
}

.help-block {
  margin-top: $small-space;
}

.alert-warning {
  .material-icons {
    padding-top: $extra-small-space;
    margin-right: $small-space;
    font-size: 2rem;
    color: $warning;
  }

  .alert-text {
    padding-top: $small-space;
    font-size: 0.9375rem;
  }

  .alert-link {
    padding: $extra-small-space $medium-space;
    margin-left: $small-space;
    font-size: 0.8125rem;
    font-weight: 600;
    color: $btn-tertiary-color;
    border-width: 2px;
    border-radius: 2px;
  }

  ul li:last-child .alert-link {
    color: $white;
  }

  .warning-buttons {
    margin-top: $extra-small-space;
  }
}

.btn-warning {
  @include transition(all 0.4s ease-in-out);
}

.btn-tertiary-outline {
  color: $btn-tertiary-color;
  background-color: transparent;
  background-image: none;
  border: 0.15rem solid $btn-tertiary-color;
  border-color: $btn-tertiary-color;
  @include transition(all 0.4s ease-in-out);

  &:hover {
    color: $btn-tertiary-hover;
    border-color: $btn-tertiary-hover;
  }
}

.alert {
  font-size: 0.8125rem;
}

.nav-item {
  .nav-link,
  .nav-separtor {
    font-weight: 500;
    color: $gris_400;

    &.active {
      color: $color-font;
    }
  }
}

.separator {
  margin: 0;
  border-color: rgba(0, 0, 0, 0.25);
}

// modal-dialog-centered class added from bootstrap 4.0.0, adapted for bootstrap 4.0.0-alpha.5
.modal-dialog-centered {
  display: flex;
  align-items: center;
  // 30px corresponds to the default margin size from bootstrap 4.0.0-alpha.5 for modal-dialog class
  min-height: calc(100% - (30px * 2));
}

.popover {
  font-family: inherit;
}

input[type="number"] {
  /* stylelint-disable */
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
  /* stylelint-enable */
}

.ui-autocomplete.ui-front {
  z-index: 999;
}

.imgs_payment {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  li {
    padding: 3px;
    width: 48px;
    text-align: center;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px #e4e7ee;
    margin-right: 10px;
    margin-bottom: 0;
    height: auto;

    img {
      width: 37px;
      vertical-align: middle;
      height: auto;
    }
  }
}

#full-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 32px;

  > * {
    width: 100%;
  }
}

.datatext {
  cursor: pointer;
}

.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-inline {
  display: inline !important;
}
.float-xs-left {
  float: left !important;
}
.float-xs-right {
  float: right !important;
}
.float-xs-none {
  float: none !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.splide {
  .splide__track {
    margin-left: -14px;
    margin-right: -14px;
  }
  .splide__pagination {
    bottom: 0;

    .splide__pagination__page {
      background-color: #FFF;
      border: 1px solid #939393;

      &.is-active {
        background-color: #939393;
        border-color: #939393;
      }
    }
  }
}
.images-container .splide .splide__track {
  margin-left: 0;
  margin-right: 0;
}

.modal {
  .modal-header {
    padding: 16px;
    border-bottom: 1px solid $gris_300;

    .modal-title {
      font-size: 20px;
      line-height: 32px;
      font-weight: 500;
    }

    .close {
      text-shadow: none;
      opacity: 1;
    }
  }

  .modal-body {
    padding: 16px;
  }
}
.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}
.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}

.card-block {
  padding: 1.25rem;
}

.grade-stars.small-stars .star-content {
  div.star {
    background: url(../img/icons/small_stars.png);
  }

  div.star-on {
    background: url(../img/icons/small_stars.png);
    background-position: -19px 0;
  }

  div.star-hover {
    background: url(../img/icons/small_stars.png);
    background-position: -19px 0;
  }
}
.grade-stars .star-content {
  div.star,
  div.star-on,
  div.star-hover {
    background: url(../img/icons/stars.png);
  }

  div.star-on,
  div.star-hover {
    background: url(../img/icons/stars.png);
    background-position: -24px 0;
  }
}

.full_width {
  width: calc(100vw - 8px) !important;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-right: 0;
}

.splide__arrow {
  top: -50px;
  background-color: inherit;
}

.splide__arrow--next {
  right: 0;
}

.splide__arrow--prev {
  right: 2rem;
  left: inherit;
}

table {
  width: 100%;

  thead th {
    padding: 8px 16px;
    color: $gris_500;
    background-color: $gris_200;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 500;
    text-align: left;
  }

  tbody {
    th, td {
      padding: 8px 16px;
      color: $color-font;
      background-color: $blanco;
      font-size: $font-size-p2;
      line-height: $line-height-p2;
      font-weight: 400;
      text-align: left;
    }
  }
}

.cart-rule ul {
  background-color: $blanco;
  padding: 20px;

  li {
    padding: 8px 0;
  }
}

.featured-products {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
}

.underline_link {
  color: $color_font;
  text-decoration: underline;
}
.underline_link:hover {
  color: $color_font !important;
  text-decoration: inherit;
}

.color_rojo {
  color: $rojo;
}

.products-selection .showing .minimo {
  margin-bottom: 0;
  text-align: center;
}

.dbcategories .cat_home {
  color: $color_font;
}

.dbcategories .cat_home:hover {
  color: $primary-color;
}

/*** Navigation My Account ***/
.navigation_account {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 0.5rem;
  padding: 1rem;

  > * {
    padding: 0.5rem 0;
  }

  .title {
    color: $gris_400;
    font-weight: 500;
  }

  .item {
    font-weight: 400;
    color: var(--color_font);
    font-size: $font-size-detalle;
    line-height: $line-height-detalle;

    &:hover {
      color: var(--color_hover);
    }

    i {
      margin-right: 4px;
    }
  }
}
/*** Navigation mobile My Account ***/
.navigation_mobile {
  border: 1px solid $gris_300;
  border-radius: 0;
  margin-bottom: 1rem;
  background-color: #FFF;

  .btn-link {
    width: 100%;
    text-align: left;
    color: var(--color_font);
    outline: 0;
    font-weight: 600;

    i {
      float: right;
      font-size: 20px;
    }

    &:focus {
      outline: 0;
      text-decoration: none;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    > * {
      padding: 0.5rem;
      color: var(--color_font);
      font-size: 0.9rem;
    }

    .active {
      background-color: var(--background);
      color: var(--primary_color)
    }
  }
}

/*** Menu ***/
.dbmenu #dbmenu_burger .modal-dialog .modal-content {
  .menu_header {
    background-color: $negro;
    color: $blanco;
    padding: 16px;
    box-shadow: none;
    border: 0;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 500;

    .modal-title {
      font-size: $font-size-base;
      line-height: $line-height-base;
      font-weight: 500;
      color: $blanco;
    }
    .close {
      font-size: 24px;
      line-height: $line-height-base;
      font-weight: 500;
      text-shadow: none;
      color: $blanco;
    }
  }
  .modal-body {
    .dbmenu_category .item .item_primary, .dbmenu_personal .item {
      border-color: $gris_300;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      i {
        margin-left: auto;
      }
    }

    .dbmenu_personal .title,
    .dbmenu_follow .title,
    .dbmenu_phone .title,
    .dbproductcomments_menu .title,
    .dbmenu_contact > .title,
    .dbmenu_opinions .title {
      background-color: $gris_200;
      font-weight: 500;
      font-size: $font-size-base;
      line-height: $line-height-base;
    }

    .subitems .dbmenu_back {
      background-color: $negro;
      color: $blanco;
      padding: 16px;
      box-shadow: none;
      border: 0;
      font-size: $font-size-base;
      line-height: $line-height-base;
      font-weight: 500;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      i {
        margin-right: 16px;
        font-size: $font-size-base;
        line-height: $line-height-base;
      }
    }
  }

}

@include media-breakpoint-down(md) {
  .card {
    background-color: $white !important;
  }
  .filestyle {
    max-width: 90%;
  }
  .full_width {
    width: 100vw !important;
  }
  #full-column {
    padding-top: 25px;
  }
}

