$white: #FFFFFF;
$gray-dark: #363a42;
$gray-darker: var(--color_font);
$gray: #7a7a7a;
$gray-second: #9b9b9b;
$gray-light: #f6f6f6;
$gray-light-second: #dbdbdb;
$gray-lighter: var(--background);
$gray-lighter-second: #f7f7f7;
$border-gray: #ddd;
$brand-primary: var(--primary_color);
$brand-secondary: var(--second_color);
$brand-success: #179942;
$brand-warning: #FABC2A;
$brand-danger: #C81D25;
$brand-info: #3E92CC;
$current-step-color: #179942;
$label-color: $gray-darker;
$btn-primary-color: $white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;
$btn-disabled-background: #f6f6f6;
$btn-disabled-color: #ddd;
$input-border-color: rgba(0, 0, 0, 0.25);
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 0.3125rem;
$small-space: 0.625rem;
$medium-space: 1.25rem;
$large-space: 1.875rem;
$extra-large-space: 2.5rem;
$warning: #ff9a52;
$warning-second: #f49d6e;
$warning-hover: #fde7bb;
$alert-warning-bg: rgba(255, 154, 82, 0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: $white;
$btn-tertiary-color: #6c868e;
$btn-tertiary-hover: #bbcdd2;
$display1-size: 3.125rem;
$display1-weight: 600;
$display2-size: 2.188rem;
$display2-weight: 400;
$display3-size: 1.563rem;
$display3-weight: 400;
$display4-size: 1.25rem;
$display4-weight: 400;
$text-muted: $gray;
$radio-border-color: #979797;
$input-btn-border-width: 1px;
$input-height: 1.65rem;
$body-bg: var(--background);

// Escala de grises
$negro: #1F1F1F;
$gris_500: #666666;
$gris_400: #939393;
$gris_300: #E0E0E0;
$gris_200: #F1F0F0;
$gris_100: #FAF9F9;
$blanco: #FFFFFF;

// Colores standard
$rojo: #C81D25;
$rojo_100: #FADBDD;
$verde: #179942;
$verde_100: #CEF2DA;
$amarillo: #FABC2A;
$amarillo_100: #FDECC3;
$azul: #3E92CC;
$azul_100: #AED1EA;
$naranja: #F75C03;
$naranja_100: #FDECC3;

// Colores
$color-font: var(--color_font);
$primary-color: var(--primary_color);
$background_color: var(--background);

// Tipografia
$font-size-s: 32px;
$line-height-s: 44px;
$font-size-h1: 26px;
$line-height-h1: 34px;
$font-size-h2: 24px;
$line-height-h2: 33px;
$font-size-h3: 20px;
$line-height-h3: 32px;
$font-size-h4: 18px;
$line-height-h4: 29px;
$font-size-base: 16px;
$line-height-base: 26px;
$font-size-listado: 15px;
$line-height-listado: 24px;
$font-size-boton: 15px;
$line-height-boton: 24px;
$font-size-p2: 15px;
$line-height-p2: 24px;
$font-size-detalle: 14px;
$line-height-detalle: 23px;
$font-size-small: 13px;
$line-height-small: 21px;
$font-size-minimo: 12px;
$line-height-minimo: 19px;

// Espacios y paddings
$espacio_4: 4px;
$espacio_8: 8px;
$espacio_12: 12px;
$espacio_16: 16px;
$espacio_20: 20px;
$espacio_24: 24px;
$espacio_28: 28px;
$espacio_32: 32px;
$espacio_36: 36px;
$espacio_40: 40px;