.cart-grid {
  margin-bottom: 1rem; }

.cart-items {
  margin-bottom: 0; }

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  border-bottom: 0;
  background-color: #FFFFFF;
  margin-bottom: 1rem; }
  .cart-item:last-child {
    border-bottom: 0; }
  .cart-item .product-image {
    width: calc(15% - 16px);
    margin-right: 16px; }
    .cart-item .product-image img {
      max-width: 100%; }
  .cart-item .cart__product-name {
    width: 50%; }
    .cart-item .cart__product-name a {
      color: var(--color_font);
      font-size: 18px;
      line-height: 29px;
      font-weight: 500; }
    .cart-item .cart__product-name .product-attributes {
      font-size: 15px;
      line-height: 24px; }
      .cart-item .cart__product-name .product-attributes p, .cart-item .cart__product-name .product-attributes span {
        font-size: 15px;
        line-height: 24px; }
  .cart-item .cart__product-qty {
    width: 100px;
    text-align: center; }
    .cart-item .cart__product-qty .input-group {
      margin: 0 auto;
      display: table;
      float: none;
      z-index: 1000; }
      .cart-item .cart__product-qty .input-group .js-cart-line-product-quantity {
        height: 38px !important;
        left: 31px;
        width: 35px;
        text-align: center;
        line-height: 24px;
        border-left: 0;
        border-top: 0.8px solid var(--color_font);
        border-bottom: 0.8px solid var(--color_font);
        border-right: 0;
        font-size: 15px;
        line-height: 24px; }
    .cart-item .cart__product-qty .bootstrap-touchspin .input-group-btn-vertical .touchspin-up:after {
      content: "\e145"; }
    .cart-item .cart__product-qty .bootstrap-touchspin .input-group-btn-vertical .touchspin-down:after {
      content: "\e15b"; }
    .cart-item .cart__product-qty .bootstrap-touchspin #quantity_wanted,
    .cart-item .cart__product-qty .bootstrap-touchspin #quantity_wanted_miniature {
      left: 29px;
      width: 50px;
      height: 44px !important;
      padding: 0;
      text-align: center;
      line-height: 24px;
      border-left: 0;
      border-top: 0.8px solid var(--color_font);
      border-bottom: 0.8px solid var(--color_font);
      border-right: 0; }
    .cart-item .cart__product-qty .bootstrap-touchspin .input-group-btn-vertical {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%; }
      .cart-item .cart__product-qty .bootstrap-touchspin .input-group-btn-vertical .btn {
        height: 38px !important;
        padding: 1px 6px !important;
        top: 0;
        margin-top: 0; }
        .cart-item .cart__product-qty .bootstrap-touchspin .input-group-btn-vertical .btn i {
          position: relative;
          top: 0;
          left: 0; }
        .cart-item .cart__product-qty .bootstrap-touchspin .input-group-btn-vertical .btn.bootstrap-touchspin-down {
          left: -47px;
          margin: 0;
          border-color: var(--color_font);
          border-right: 0; }
        .cart-item .cart__product-qty .bootstrap-touchspin .input-group-btn-vertical .btn.bootstrap-touchspin-up {
          left: 32px;
          border-color: var(--color_font);
          border-left: 0; }
  .cart-item .cart__product-price {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: right; }
    .cart-item .cart__product-price .remove-from-cart {
      color: var(--color_font);
      text-decoration: underline;
      font-size: 14px;
      margin-bottom: 10px; }
      .cart-item .cart__product-price .remove-from-cart > i {
        float: right !important; }
    .cart-item .cart__product-price .product-totalprice {
      font-size: 20px;
      line-height: 32px;
      font-weight: 500;
      color: var(--color_font); }
      .cart-item .cart__product-price .product-totalprice .old_price {
        font-size: 14px;
        line-height: 23px;
        font-weight: 400;
        color: #939393;
        margin-right: 12px;
        text-decoration: line-through; }
    .cart-item .cart__product-price .product-price {
      font-size: 13px;
      line-height: 21px;
      margin-top: 4px;
      color: var(--color_font); }

.card-block.checkout {
  padding-top: 0;
  padding-bottom: 20px; }
  .card-block.checkout .btn-primary {
    width: 100%; }
.card-block.cart-detailed-subtotals + .cart-summary-totals .cart-total {
  border-top: 1px solid #ddd; }
.card-block.cart-summary-totals {
  padding: 0 1.25rem 0.825rem; }
  .card-block.cart-summary-totals .cart-summary-line {
    padding: 0.5rem 0.2rem 0; }
    .card-block.cart-summary-totals .cart-summary-line:last-child {
      margin-bottom: 0; }
    .card-block.cart-summary-totals .cart-summary-line.cart-total {
      padding: 1rem 0; }
      .card-block.cart-summary-totals .cart-summary-line.cart-total .label,
      .card-block.cart-summary-totals .cart-summary-line.cart-total .value {
        font-weight: 700; }
      .card-block.cart-summary-totals .cart-summary-line.cart-total .label {
        font-size: 1rem; }
      .card-block.cart-summary-totals .cart-summary-line.cart-total .value {
        font-size: 1rem; }
    .card-block.cart-summary-totals .cart-summary-line span.sub {
      float: none;
      font-size: 0.88rem;
      text-align: left; }

.cart-summary-line {
  clear: both;
  margin-bottom: 0.315rem;
  clear: both;
  text-align: left; }
  .cart-summary-line:not(:last-child) {
    margin-bottom: 0.5rem; }
  .cart-summary-line .label {
    padding-left: 0;
    font-weight: 400;
    color: #363a42;
    white-space: inherit; }
  .cart-summary-line .value {
    float: right;
    font-weight: 600;
    color: var(--color_font); }
  .cart-summary-line.cart-summary-subtotals .label,
  .cart-summary-line.cart-summary-subtotals .value {
    font-weight: 500; }
  .cart-summary-line .label,
  .cart-summary-line .value {
    font-size: 1rem; }

/** CART BODY **/
.cart-grid-body {
  margin-bottom: 0.75rem; }
  .cart-grid-body a.label:hover {
    color: var(--color_hover); }
  .cart-grid-body .card-block {
    padding: 1rem 0;
    border-bottom: 0;
    background-color: inherit; }
    .cart-grid-body .card-block h1 {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 33px; }
  .cart-grid-body .cart-overview {
    padding: 0; }

/** CART RIGHT **/
.cart-grid-right .cart-summary .cart-summary_header {
  padding: 1rem 0;
  background-color: var(--background);
  border-bottom: 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500; }
.cart-grid-right .cart-summary .cart-detailed-totals .card-block {
  padding: 1rem 1rem 0.5rem; }
.cart-grid-right .cart-summary .cart-detailed-totals .cart-summary-line .label {
  padding-left: 0;
  font-weight: 400;
  white-space: inherit;
  color: var(--color_font);
  font-size: 13px;
  line-height: 21px; }
.cart-grid-right .cart-summary .cart-detailed-totals .cart-summary-line .value {
  color: var(--color_font);
  float: right;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px; }
.cart-grid-right .cart-summary .card-block.cart-summary-totals {
  padding: 0 1rem 1rem; }
  .cart-grid-right .cart-summary .card-block.cart-summary-totals .cart-summary-line.cart-total {
    background-color: inherit;
    padding: 1rem 0 0.5rem;
    border-top: 1px solid #e0e0e0;
    margin-top: 0.5rem; }
    .cart-grid-right .cart-summary .card-block.cart-summary-totals .cart-summary-line.cart-total .label {
      font-size: 24px;
      line-height: 33px;
      font-weight: 700; }
      .cart-grid-right .cart-summary .card-block.cart-summary-totals .cart-summary-line.cart-total .label > span {
        font-weight: 400;
        font-size: 13px;
        line-height: 21px; }
    .cart-grid-right .cart-summary .card-block.cart-summary-totals .cart-summary-line.cart-total .value {
      font-size: 24px;
      line-height: 33px;
      font-weight: 700; }
.cart-grid-right .promo-discounts {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0;
  text-align: left; }
  .cart-grid-right .promo-discounts .cart-summary-line {
    padding: 4px 20px;
    border: 1px solid #E0E0E0;
    margin-bottom: 8px; }
    .cart-grid-right .promo-discounts .cart-summary-line .label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 14px;
      line-height: 23px; }
      .cart-grid-right .promo-discounts .cart-summary-line .label .code {
        cursor: pointer;
        margin-left: 5px; }
      .cart-grid-right .promo-discounts .cart-summary-line .label > i {
        margin-left: auto;
        font-size: 14px;
        line-height: 23px;
        font-weight: 400; }
    .cart-grid-right .promo-discounts .cart-summary-line:last-child {
      margin-bottom: 1rem; }
.cart-grid-right .cart-summary-line.cart-subtotal-products .label,
.cart-grid-right .cart-summary-line.cart-subtotal-products .value {
  font-weight: 600; }
.cart-grid-right .cart-summary-line.cart-subtotal-products .value {
  font-size: 1rem; }
.cart-grid-right .blockreassurance_product {
  padding: 0 20px; }

.separator {
  border-top: 0;
  border-bottom: 1px solid #e0e0e0; }
  .separator.separator_voucher {
    margin: 0 1rem; }

.promo-name {
  margin-bottom: 0; }
  .promo-name .cart-summary-line {
    margin-bottom: 0.5rem;
    font-size: 13px;
    font-weight: 600;
    color: #C81D25; }
    .promo-name .cart-summary-line .label, .promo-name .cart-summary-line i {
      font-weight: 600 !important;
      color: #C81D25 !important; }

.block-promo .promo-code {
  padding: 0 1rem 1rem; }
  .block-promo .promo-code .alert-danger {
    position: relative;
    display: none;
    margin-top: 1.25rem;
    color: var(--color_font);
    background: #FFFFFF; }
    .block-promo .promo-code .alert-danger::after {
      position: absolute;
      bottom: 100%;
      left: 10%;
      width: 0;
      height: 0;
      margin-left: -10px;
      pointer-events: none;
      content: " ";
      border: solid transparent;
      border-width: 10px;
      border-bottom-color: #C81D25; }
    .block-promo .promo-code .alert-danger .js-error-text {
      padding: 4px 8px;
      font-size: 12px;
      line-height: 19px; }
  .block-promo .promo-code form {
    text-align: center; }
.block-promo .promo-input {
  width: calc(100% - 100px);
  margin-right: 0;
  color: var(--color_font);
  border: 1px solid var(--color_font);
  font-size: 15px;
  line-height: 24px;
  padding: 0.5rem 1rem;
  float: left; }
  .block-promo .promo-input:focus-visible {
    outline: 0;
    border-color: var(--primary_color); }
  .block-promo .promo-input + button {
    text-transform: capitalize;
    border: 0;
    width: 100px;
    background-color: #3E92CC;
    margin-left: -1px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500; }
    .block-promo .promo-input + button:focus-visible, .block-promo .promo-input + button:focus {
      outline: 0; }
.block-promo .cart-summary-line .label,
.block-promo .promo-name {
  margin-bottom: 0;
  font-weight: 600;
  color: #FABC2A; }
  .block-promo .cart-summary-line .label a,
  .block-promo .promo-name a {
    display: inline-block;
    font-weight: 500;
    color: var(--color_font); }
.block-promo .promo-name .cart-summary-line .label {
  font-weight: 500;
  color: #363a42; }
.block-promo .promo-name .cart-summary-line span {
  color: #f49d6e; }
.block-promo .promo-name .material-icons {
  margin-left: 0.4rem;
  font-size: 1.2rem; }
.block-promo .promo-code-button {
  display: block;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  /*&.with-discounts {
    display: none;
  }*/ }
  .block-promo .promo-code-button.cancel-promo {
    margin-bottom: 0;
    color: var(--primary_color); }
    .block-promo .promo-code-button.cancel-promo[aria-expanded="true"] {
      display: block;
      padding: 0;
      margin-top: 1rem; }
  .block-promo .promo-code-button .collapse-button {
    color: var(--font_color);
    font-size: 15px;
    line-height: 24px;
    font-weight: 400; }
    .block-promo .promo-code-button .collapse-button > i {
      float: right; }
.block-promo.promo-highlighted {
  padding: 0 1rem;
  margin-bottom: 0;
  text-align: center; }
.block-promo p {
  margin-bottom: 0; }

/** CONTENT LEFT **/
.product-line-grid-left img {
  max-width: 100%; }

/** CONTENT BODY **/
.product-line-grid-body > .product-line-info > .label {
  padding: 0;
  font-weight: 600;
  line-height: inherit;
  text-align: left;
  white-space: inherit; }
.product-line-grid-body > .product-line-info > .out-of-stock {
  color: #f00; }
.product-line-grid-body > .product-line-info > .available {
  color: #179942; }
.product-line-grid-body > .product-line-info > .unit-price-cart {
  padding-left: 0.3125rem;
  font-size: 0.875rem;
  color: #7a7a7a; }

/** CONTENT LEFT **/
.product-line-grid-right .cart-line-product-actions,
.product-line-grid-right .product-price {
  line-height: 36px;
  color: var(--color_font); }
  .product-line-grid-right .cart-line-product-actions .remove-from-cart,
  .product-line-grid-right .product-price .remove-from-cart {
    display: inline-block;
    margin-top: 0.3125rem;
    color: var(--color_font); }

/*** Responsive part ***/
@media (max-width: 767px) {
  .product-line-grid-body {
    margin-bottom: 1rem; }

  .cart-grid-right .cart-detailed-totals {
    padding: 1rem; }
    .cart-grid-right .cart-detailed-totals > .card-block {
      padding: 0; }
    .cart-grid-right .cart-detailed-totals .cart-summary-line:not(:last-child) {
      margin-bottom: 0.5rem; }
    .cart-grid-right .cart-detailed-totals .cart-summary-totals {
      padding: 0;
      margin-top: 1rem; }
      .cart-grid-right .cart-detailed-totals .cart-summary-totals .cart-summary-line.cart-total {
        padding: 0; }
  .cart-grid-right .card-block.checkout {
    padding: 1rem; }

  .cart-item {
    flex-wrap: wrap;
    position: relative; }
    .cart-item .cart__product-name {
      width: 75%; }
    .cart-item .cart__product-qty {
      width: 50%;
      margin-top: 15px; }
      .cart-item .cart__product-qty .input-group {
        margin: 0; }
    .cart-item .cart__product-price {
      width: 50%;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap; }
      .cart-item .cart__product-price .product-price {
        margin-top: 0;
        margin-right: 8px; }
      .cart-item .cart__product-price .remove-from-cart {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
@media (max-width: 575px) {
  .cart-items {
    padding: 1rem 0; }

  .cart-item {
    border-bottom: 1px solid #f6f6f6; }
    .cart-item:last-child {
      border-bottom: 0; }

  .cart-grid-body .cart-overview {
    padding: 0; }
  .cart-grid-body .no-items {
    display: inline-block;
    padding: 1rem; }

  .product-line-grid-left {
    padding-right: 0 !important; } }
@media (max-width: 360px) {
  .product-line-grid-right .qty {
    width: 100%; }
  .product-line-grid-right .price {
    width: 100%; } }

/*# sourceMappingURL=cart.css.map */
