#product #content {
  position: relative;
  max-width: 452px;
  margin: 0 auto; }
#product .product_topview {
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; }
  #product .product_topview .block_left {
    width: 30%; }
  #product .product_topview .block_center {
    width: calc(42% - 40px);
    margin: 0 20px; }
  #product .product_topview .block_right {
    width: 28%; }
  #product .product_topview.product_columns_2 {
    padding: 0 70px; }
  #product .product_topview.product_columns_2 .block_left {
    width: 50%; }
  #product .product_topview.product_columns_2 .block_right {
    width: calc(50% - 25px); }
  #product .product_topview.product_columns_2 .block_left #content {
    max-width: 100%; }
  #product .product_topview.product_columns_2 .block_left #content .product-cover img {
    max-width: 100%;
    width: 100%;
    height: auto; }
  #product .product_topview.product_columns_2 .blockreassurance_product {
    width: 100%;
    justify-content: center; }
  #product .product_topview.product_columns_3 .price_tax {
    display: none; }
  #product .product_topview.product_columns_3 .blockreassurance_product {
    flex-direction: column; }
    #product .product_topview.product_columns_3 .blockreassurance_product > div {
      width: 100%;
      justify-content: flex-start; }
      #product .product_topview.product_columns_3 .blockreassurance_product > div .block-title {
        flex-direction: row;
        align-items: center; }
        #product .product_topview.product_columns_3 .blockreassurance_product > div .block-title .title {
          margin-right: 10px; }
  #product .product_topview.product_columns_3 .payment_products {
    flex-direction: column;
    align-items: flex-start; }
    #product .product_topview.product_columns_3 .payment_products .title {
      margin-bottom: 10px; }
  #product .product_topview.product_columns_3 .social-sharing {
    justify-content: flex-start; }
  #product .product_topview .product_cover_thumbnails .splide__arrow {
    top: 50%; }
  #product .product_topview .product_cover_thumbnails .splide__arrow--prev {
    right: inherit;
    left: 1rem; }
  #product .product_topview .product_cover_thumbnails .splide__arrow--next {
    right: 1rem; }
  #product .product_topview .sticky_product {
    position: sticky;
    top: 20px; }
#product .dbfreeshipping {
  font-size: 14px;
  line-height: 23px; }
  #product .dbfreeshipping strong {
    font-weight: 500; }

.product-price {
  display: inline-block;
  color: var(--primary_color); }

#product-description-short {
  color: var(--color_font); }
  #product-description-short ul,
  #product-description-short ol {
    padding-left: 0;
    list-style-position: inside; }
    #product-description-short ul li,
    #product-description-short ol li {
      font-size: 0.9375rem;
      color: #7a7a7a; }
  #product-description-short ul {
    list-style-type: disc; }

.product-information {
  font-size: 16px;
  line-height: 26px;
  color: var(--color_font);
  /*.info_content, #product-details {
    padding: 1rem;
  }*/ }
  .product-information .title_info_product {
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    margin: 32px 0; }
  .product-information .card_product_info {
    padding: 40px 85px; }
    .product-information .card_product_info #product-details-info {
      margin-top: 20px; }
    .product-information .card_product_info #accordion .btn-link {
      cursor: pointer; }
    .product-information .card_product_info .product-description p, .product-information .card_product_info .product-description span, .product-information .card_product_info .product-description li, .product-information .card_product_info .product-description strong {
      font-size: 15px;
      line-height: 24px; }
  .product-information .manufacturer-logo {
    height: 3.125rem;
    margin-bottom: 1rem;
    border: none; }
  .product-information .product-description img {
    max-width: 100%;
    height: auto; }
  .product-information .product-description ul,
  .product-information .product-description ol {
    padding-left: 0.75rem;
    list-style-position: inside; }
    .product-information .product-description ul li,
    .product-information .product-description ol li {
      font-size: 15px;
      line-height: 24px; }
  .product-information .product-description ul {
    list-style-type: disc; }
  .product-information .btn-link {
    width: 100%;
    text-align: left;
    color: var(--color_font);
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color_font);
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;
    cursor: default; }
    .product-information .btn-link:hover {
      text-decoration: none; }
    .product-information .btn-link > i {
      float: right; }
    .product-information .btn-link .collapse_down {
      display: none; }
    .product-information .btn-link .collapse_up {
      display: block; }
    .product-information .btn-link:focus {
      outline: 0;
      text-decoration: none; }
    .product-information .btn-link.collapsed > i.collapse_down {
      display: block; }
    .product-information .btn-link.collapsed > i.collapse_up {
      display: none; }
  .product-information #product-details .product-details {
    padding: 0; }
  .product-information.open .product-info_title {
    width: 100%;
    text-align: left;
    color: var(--color_font);
    font-size: 18px;
    margin-bottom: 1rem;
    display: table; }
  .product-information.open > .card {
    padding: 1rem; }
  .product-information.open .info_content,
  .product-information.open #product-details {
    padding: 0; }

.input-color {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  opacity: 0; }

.input-container {
  position: relative; }

.input-radio {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0; }

.input-color:checked + span, .input-color:hover + span,
.input-radio:checked + span,
.input-radio:hover + span {
  border: 2px solid var(--color_font); }

.radio-label {
  display: inline-block;
  padding: 0.125rem 0.625rem;
  font-weight: 600;
  background: #FFFFFF;
  border: 2px solid #FFFFFF; }

.product-actions .control-label {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 4px; }
.product-actions .add-to-cart {
  line-height: inherit; }
  .product-actions .add-to-cart .material-icons {
    line-height: inherit; }

.product_add_to_cart {
  margin-top: 32px; }
  .product_add_to_cart .product-quantity {
    display: flex;
    flex-wrap: wrap; }
    .product_add_to_cart .product-quantity .qty,
    .product_add_to_cart .product-quantity .add {
      display: inline-flex;
      float: left; }
    .product_add_to_cart .product-quantity .add {
      min-width: calc(100% - 115px);
      /*
      max-width: 70%;
      */ }
      .product_add_to_cart .product-quantity .add .add-to-cart {
        width: 100%;
        font-weight: 400;
        text-transform: none; }
        .product_add_to_cart .product-quantity .add .add-to-cart > i {
          line-height: inherit;
          margin-right: 4px;
          font-size: 20px; }
    .product_add_to_cart .product-quantity .qty {
      margin-right: 5px;
      min-width: 110px; }
    .product_add_to_cart .product-quantity #quantity_wanted {
      width: 3rem;
      height: 2.75rem;
      padding: 0.175rem 0.5rem;
      color: var(--color_font);
      background-color: #FFFFFF; }
    .product_add_to_cart .product-quantity .input-group-btn-vertical {
      width: auto; }
      .product_add_to_cart .product-quantity .input-group-btn-vertical .btn {
        padding: 0.5rem 0.6875rem; }
        .product_add_to_cart .product-quantity .input-group-btn-vertical .btn i {
          top: 0.125rem;
          left: 0.1875rem;
          font-size: 19px; }
    .product_add_to_cart .product-quantity .btn-touchspin {
      height: 1.438rem; }
    .product_add_to_cart .product-quantity .input-group-btn-vertical .btn {
      height: 44px !important;
      padding: 1px 8px !important;
      top: 0;
      margin-top: 0; }
      .product_add_to_cart .product-quantity .input-group-btn-vertical .btn i {
        position: relative;
        top: 0;
        left: 0; }
  .product_add_to_cart .product-minimal-quantity {
    margin: 0; }

.bootstrap-touchspin .input-group-btn-vertical .touchspin-up:after {
  content: "\e145"; }
.bootstrap-touchspin .input-group-btn-vertical .touchspin-down:after {
  content: "\e15b"; }
.bootstrap-touchspin #quantity_wanted,
.bootstrap-touchspin #quantity_wanted_miniature {
  left: 25px;
  width: 50px;
  height: 44px !important;
  padding: 0;
  text-align: center;
  line-height: 24px;
  border-left: 0;
  border-top: 1px solid var(--color_font);
  border-bottom: 1px solid var(--color_font);
  border-right: 0; }
.bootstrap-touchspin .input-group-btn-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%; }
  .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    left: -75px;
    border-left: 1px solid var(--color_font);
    border-top: 1px solid var(--color_font);
    border-bottom: 1px solid var(--color_font);
    border-right: 0; }
  .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    border-left: 0;
    border-top: 1px solid var(--color_font);
    border-bottom: 1px solid var(--color_font);
    border-right: 1px solid var(--color_font);
    left: 26px; }
    .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up > i {
      font-size: 13px !important; }

.product-discounts {
  margin-top: 1rem; }
  .product-discounts > .product-discounts-title {
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 12px; }
    .product-discounts > .product-discounts-title i {
      color: var(--primary_color);
      margin-right: 4px; }
  .product-discounts > .table-product-discounts thead tr th {
    width: 33%;
    padding: 0.625rem 1.25rem;
    text-align: center;
    background: #FFFFFF;
    border: 0.3125rem #f6f6f6 solid; }
  .product-discounts > .table-product-discounts tbody tr {
    background: var(--background); }
    .product-discounts > .table-product-discounts tbody tr:nth-of-type(even) {
      background: #FFFFFF; }
    .product-discounts > .table-product-discounts tbody tr td {
      padding: 0.625rem 1.25rem;
      text-align: center;
      border: 0.3125rem #f6f6f6 solid; }

.product-prices .product-price {
  margin-bottom: 8px; }
.product-prices .tax-shipping-delivery-label {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E0E0E0; }
  .product-prices .tax-shipping-delivery-label .delivery-information {
    padding: 0 0 0 2px;
    margin-left: 5px;
    /*&::before {
      padding: 0 2px 0 0;
      content: "-";
    }*/ }
  .product-prices .tax-shipping-delivery-label .available_stock {
    background-color: #CEF2DA;
    padding: 4px 8px;
    color: #179942; }
  .product-prices .tax-shipping-delivery-label .available_stock.unavailable {
    background-color: #C81D25;
    color: #FFFFFF; }
    .product-prices .tax-shipping-delivery-label .available_stock.unavailable > .delivery-information {
      display: none; }
  .product-prices .tax-shipping-delivery-label .available_stock.last_remaining_items {
    background-color: #FDECC3;
    color: #F75C03; }
.product-prices .product-quantities label {
  margin-bottom: 0; }

.product-discount {
  color: #7a7a7a; }
  .product-discount .regular-price {
    margin-right: 0.625rem;
    font-weight: 500;
    text-decoration: line-through; }

.has-discount.product-price,
.has-discount p {
  color: var(--second_color); }
.has-discount .discount {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #C81D25; }

.product-unit-price {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 21px;
  color: var(--primary_color); }

.tabs {
  padding: 1.25rem 1.875rem;
  margin-top: 2rem;
  background: #FFFFFF; }
  .tabs .tab-pane {
    padding-top: 1.25rem; }
  .tabs .nav-tabs {
    border: none;
    border-bottom: #f6f6f6 2px solid; }
    .tabs .nav-tabs .nav-link {
      color: #7a7a7a;
      border: 0 solid transparent; }
      .tabs .nav-tabs .nav-link.active {
        color: var(--primary_color);
        border: none;
        border-bottom: var(--primary_color) 3px solid; }
      .tabs .nav-tabs .nav-link:hover {
        border: none;
        border-bottom: var(--primary_color) 3px solid; }
    .tabs .nav-tabs .nav-item {
      float: left;
      margin-bottom: -0.125rem; }

.product-cover {
  position: relative;
  margin-bottom: 1.25rem; }
  .product-cover img {
    background: #FFFFFF;
    width: 100%;
    height: auto; }
  .product-cover .layer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background: #1F1F1F;
    background: #1F1F1F;
    opacity: 0;
    transition: opacity 0.7s ease-in-out; }
    .product-cover .layer:hover {
      opacity: 0.5; }
    .product-cover .layer .zoom-in {
      font-size: 3.125rem;
      color: #FFFFFF; }

.displayProductCenterColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px; }
  .displayProductCenterColumn .product-manufacturer {
    position: relative;
    margin-left: auto; }
    .displayProductCenterColumn .product-manufacturer .brand_centercolumn {
      display: table; }
      .displayProductCenterColumn .product-manufacturer .brand_centercolumn img {
        height: 35px;
        width: auto;
        border: 0; }
  .displayProductCenterColumn .dbproductcomments_product_centercolumn {
    margin-bottom: 0; }
  .displayProductCenterColumn .dbproduct_list_reviews {
    margin: 0;
    text-align: left; }

.product-manufacturer {
  margin-bottom: 4px; }
  .product-manufacturer .brand_centercolumn {
    color: var(--color_font);
    font-size: 14px;
    line-height: 23px;
    font-weight: 400; }
    .product-manufacturer .brand_centercolumn:hover {
      color: var(--primary_color); }

#product .product_name {
  font-size: 26px;
  line-height: 34px;
  font-weight: 700; }

.price_outstanding {
  background-color: #FFFFFF;
  padding: 32px; }
  .price_outstanding .product-prices .product-price {
    width: 100%;
    color: var(--color_font); }
    .price_outstanding .product-prices .product-price .current-price {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 0; }
      .price_outstanding .product-prices .product-price .current-price .price_with_tax {
        font-size: 32px;
        line-height: 44px;
        font-weight: 700;
        margin-right: 10px; }
      .price_outstanding .product-prices .product-price .current-price .price_tax {
        font-size: 12px;
        font-weight: 400;
        margin-right: 10px; }
      .price_outstanding .product-prices .product-price .current-price .show_pvp {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 10px; }
        .price_outstanding .product-prices .product-price .current-price .show_pvp .title {
          font-size: .7rem; }
        .price_outstanding .product-prices .product-price .current-price .show_pvp span.old_price {
          text-decoration: line-through;
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          color: #939393; }
        .price_outstanding .product-prices .product-price .current-price .show_pvp .discount {
          color: #FFFFFF;
          font-size: .8rem;
          font-weight: 600;
          text-transform: uppercase;
          display: inline-block;
          background-color: var(--second_color);
          padding: 1px 6px; }
      .price_outstanding .product-prices .product-price .current-price .show_discount {
        margin-left: auto;
        margin-bottom: auto; }
    .price_outstanding .product-prices .product-price .product-unit-price {
      color: var(--font_color);
      font-size: 14px;
      line-height: 23px;
      font-weight: 400;
      margin-top: 4px; }
  .price_outstanding .product-prices .product-pack-price {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 8px; }
  .price_outstanding .product-additional-info .dbfreeshipping {
    margin-top: 32px !important;
    color: #939393 !important; }
  .price_outstanding .product-additional-info > .tabs {
    padding: 0; }
    .price_outstanding .product-additional-info > .tabs .js-mailalert .separator {
      margin-bottom: 32px;
      display: block;
      width: 100%; }
    .price_outstanding .product-additional-info > .tabs .js-mailalert .js-mailalert-add {
      display: block;
      margin: 0 auto; }

.product-quantities label {
  margin-bottom: 0; }

.blockreassurance_product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 32px 0;
  padding: 0 32px 20px;
  border-bottom: 1px solid #E0E0E0; }
  .blockreassurance_product > div {
    width: calc(33.33% - 20px);
    margin: 0 0 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .blockreassurance_product > div:last-child {
      margin-bottom: 0; }
    .blockreassurance_product > div .item-product {
      padding: 0;
      margin-right: 10px;
      height: 30px; }
      .blockreassurance_product > div .item-product svg {
        height: 30px;
        width: 30px; }
    .blockreassurance_product > div .block-title {
      display: flex;
      flex-direction: column; }
      .blockreassurance_product > div .block-title > span {
        font-size: 13px;
        line-height: 21px;
        font-weight: 400; }
        .blockreassurance_product > div .block-title > span.title {
          font-size: 15px;
          line-height: 24px;
          font-weight: 500; }

.payment_products {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  .payment_products .title {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    margin-right: 15px; }

#splide_images_product .splide__slide img,
#splide_images_product_miniature .splide__slide img,
#splide_images_product_miniature_lateral .splide__slide img {
  max-width: 100%;
  height: auto; }

#splide_images_product_secundary {
  margin: 10px 0; }

.images-container.images_lateral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .images-container.images_lateral #splide_images_product_secundary_lateral {
    margin-right: 15px; }

#splide_images_product_miniature_lateral {
  width: calc(100% - 85px); }

#product .product_topview .product-description {
  color: var(--color_font);
  font-size: 15px;
  line-height: 24px; }
  #product .product_topview .product-description p {
    font-size: 15px;
    line-height: 24px; }

#product-modal .modal-content {
  padding: 0;
  background: transparent;
  border: none; }
  #product-modal .modal-content .modal-body {
    display: flex;
    margin-left: -30%; }
    #product-modal .modal-content .modal-body .product-cover-modal {
      background: #FFFFFF; }
    #product-modal .modal-content .modal-body .image-caption {
      width: 800px;
      padding: 0.625rem 1.25rem;
      background: #FFFFFF;
      border-top: #f6f6f6 1px solid; }
      #product-modal .modal-content .modal-body .image-caption p {
        margin-bottom: 0; }
    #product-modal .modal-content .modal-body .thumbnails {
      position: relative; }
    #product-modal .modal-content .modal-body .mask {
      position: relative;
      z-index: 1;
      max-height: 49.38rem;
      margin-top: 2.188rem;
      overflow: hidden; }
      #product-modal .modal-content .modal-body .mask.nomargin {
        margin-top: 0; }
    #product-modal .modal-content .modal-body .product-images {
      margin-left: 2.5rem; }
      #product-modal .modal-content .modal-body .product-images img {
        width: 9.25rem;
        height: auto;
        cursor: pointer;
        background: #FFFFFF; }
        #product-modal .modal-content .modal-body .product-images img:hover {
          border: var(--primary_color) 3px solid; }
    #product-modal .modal-content .modal-body .arrows {
      position: absolute;
      top: 0;
      right: 1.875rem;
      z-index: 0;
      width: 100%;
      height: 100%;
      color: #FFFFFF;
      text-align: center;
      cursor: pointer; }
      #product-modal .modal-content .modal-body .arrows .arrow-up {
        position: absolute;
        top: -2rem;
        opacity: 0.2; }
      #product-modal .modal-content .modal-body .arrows .arrow-down {
        position: absolute;
        bottom: -2rem; }
      #product-modal .modal-content .modal-body .arrows i {
        display: inline;
        font-size: 6.25rem; }

.product-images > li.thumb-container {
  display: inline; }
  .product-images > li.thumb-container > .thumb {
    margin-bottom: 0.625rem;
    cursor: pointer; }
    .images-container .product-images > li.thumb-container > .thumb {
      margin-right: 0.8125rem; }
    .product-images > li.thumb-container > .thumb.selected, .product-images > li.thumb-container > .thumb:hover {
      border: var(--primary_color) 3px solid; }

#main .images-container .js-qv-mask {
  overflow: hidden;
  white-space: nowrap; }
  #main .images-container .js-qv-mask.scroll {
    width: calc(100% - 60px);
    margin: 0 auto; }

.scroll-box-arrows {
  display: none; }
  .scroll-box-arrows.scroll {
    display: block; }
  .scroll-box-arrows i {
    position: absolute;
    bottom: 1.625rem;
    height: 100px;
    line-height: 100px;
    cursor: pointer; }
  .scroll-box-arrows .left {
    left: 0; }
  .scroll-box-arrows .right {
    right: 0; }

#product-availability {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px; }
  #product-availability .material-icons {
    line-height: inherit; }
  #product-availability .product-available {
    color: #179942; }
  #product-availability .product-unavailable {
    color: #F75C03; }
  #product-availability .product-last-items {
    color: #F75C03; }

#product-details .label {
  font-size: 16px;
  font-weight: 500;
  color: var(--color_font); }

.product-features {
  margin-top: 1.25rem;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .product-features > div.data-sheet {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0; }
    .product-features > div.data-sheet > span {
      width: calc(50% - 5px); }
    .product-features > div.data-sheet .name {
      font-weight: 600; }
  .product-features > dl.data-sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; }
    .product-features > dl.data-sheet dd.value,
    .product-features > dl.data-sheet dt.name {
      flex: 1 0 40%;
      min-height: 2.5rem;
      padding: 0.625rem;
      margin-right: 0.625rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      text-transform: capitalize;
      word-break: normal;
      background: #f6f6f6; }
      .product-features > dl.data-sheet dd.value:nth-of-type(even),
      .product-features > dl.data-sheet dt.name:nth-of-type(even) {
        background: var(--background); }

.product-variants > .product-variants-item {
  margin-bottom: 12px; }
  .product-variants > .product-variants-item:last-child {
    margin-bottom: 0; }
  .product-variants > .product-variants-item select {
    width: 100%;
    padding-right: 1.875rem;
    background-color: #FFFFFF; }
  .product-variants > .product-variants-item ul li {
    margin-right: 0.625rem; }
    .product-variants > .product-variants-item ul li label {
      margin-bottom: 0; }
  .product-variants > .product-variants-item .color {
    margin: 0;
    width: 24px;
    height: 24px; }

.product-customization {
  font-size: 15px;
  line-height: 24px; }
  .product-customization > .card {
    background-color: inherit !important;
    margin-bottom: 20px;
    margin-top: 16px; }
  .product-customization .card-title {
    font-weight: 700; }
    .product-customization .card-title i {
      color: var(--primary_color);
      margin-right: 4px; }
  .product-customization .product-customization-item {
    margin: 12px 0; }
    .product-customization .product-customization-item:last-child {
      margin-bottom: 0; }
    .product-customization .product-customization-item label {
      font-weight: 500; }
  .product-customization .product-message {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid var(--color_font);
    color: var(--color_font);
    background: #FFFFFF;
    font-size: 15px;
    line-height: 24px;
    padding: 8px 16px;
    margin-bottom: -6px; }
    .product-customization .product-message:focus {
      border-color: var(--primary_color);
      outline: 0; }
  .product-customization .file-input {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 42px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0; }
  .product-customization .customization-message {
    margin-top: 20px; }
  .product-customization .custom-file {
    position: relative;
    display: block;
    width: 100%;
    color: var(--color_font);
    background: #FFFFFF;
    border: 1px solid var(--color_font);
    font-size: 15px;
    line-height: 24px;
    padding: 8px 16px; }
    .product-customization .custom-file::placeholder {
      color: #939393; }
    .product-customization .custom-file button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      height: 40px;
      background-color: #FFF;
      color: var(--color_font);
      border: 0;
      border-left: 1px solid var(--color_font); }
  .product-customization small {
    color: #939393;
    display: flex;
    margin-top: 4px; }
  .product-customization .btn_personalizacion {
    display: block;
    margin: 20px auto 0;
    /*background-color: #FFF;
    border: 1px solid var(--color_font);
    color: var(--color_font);
    font-weight: 600;
    font-size: 16px;*/
    /*&:hover {
      background-color: var(--color_font);
      color: #FFF;
    }*/ }
  .product-customization form > ul {
    margin: 0; }

.product-pack {
  margin-top: 2.5rem; }
  .product-pack .pack-product-container {
    display: flex;
    justify-content: space-around; }
    .product-pack .pack-product-container .pack-product-name {
      flex: 0 0 50%;
      font-size: 0.875rem;
      color: #7a7a7a; }
    .product-pack .pack-product-container .pack-product-quantity {
      padding-left: 0.625rem;
      border-left: #f6f6f6 2px solid; }
    .product-pack .pack-product-container .pack-product-name,
    .product-pack .pack-product-container .pack-product-price,
    .product-pack .pack-product-container .pack-product-quantity {
      display: flex;
      align-items: center; }

.product-refresh {
  margin-top: 1.25rem; }

.social-sharing {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  padding-bottom: 1.5rem;
  justify-content: flex-start;
  font-size: 13px;
  line-height: 21px; }
  .social-sharing ul {
    margin-bottom: 0; }
  .social-sharing li {
    display: inline-block;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in; }
    .social-sharing li a, .social-sharing li .datatext {
      white-space: nowrap;
      color: var(--color_font); }
      .social-sharing li a:hover, .social-sharing li a.datatext:hover, .social-sharing li .datatext:hover, .social-sharing li .datatext.datatext:hover {
        color: var(--primary_color); }

#product .dbproductcomments_product .title.h3 {
  text-align: left; }
#product .dbproductcomments_product .general_rating .comment_circle .total_stars {
  font-size: 14px;
  line-height: 23px; }
#product .dbproductcomments_product .row_opinions .opinion .opinion_header .author, #product .dbproductcomments_product .row_opinions .opinion .opinion_header .date, #product .dbproductcomments_product .row_opinions .opinion .opinion_header .verificado {
  font-size: 13px;
  line-height: 21px; }
  #product .dbproductcomments_product .row_opinions .opinion .opinion_header .author svg, #product .dbproductcomments_product .row_opinions .opinion .opinion_header .author i, #product .dbproductcomments_product .row_opinions .opinion .opinion_header .date svg, #product .dbproductcomments_product .row_opinions .opinion .opinion_header .date i, #product .dbproductcomments_product .row_opinions .opinion .opinion_header .verificado svg, #product .dbproductcomments_product .row_opinions .opinion .opinion_header .verificado i {
    margin-right: 4px; }
#product .dbproductcomments_product .row_opinions .opinion .title_opinion {
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px; }
#product .dbproductcomments_product .row_opinions .opinion .text p {
  font-size: 15px;
  line-height: 24px; }
#product .dbproductcomments_product .row_opinions .opinion:last-child {
  padding-bottom: 0; }

.products-selection {
  margin-bottom: 1.25rem; }
  .products-selection .title {
    color: #7a7a7a; }

.comment_full {
  background-color: #FFF;
  padding: 1.5rem 0;
  margin-top: 25px; }
  .comment_full .title_comment {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 40px; }

.db_list_comments_products {
  margin-left: 0;
  margin-right: 0;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .db_list_comments_products .product-comments-list-left {
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.125); }
    .db_list_comments_products .product-comments-list-left .nb_totalcomments {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      /*height: 100%;*/
      top: 20px; }
    .db_list_comments_products .product-comments-list-left .average_grade {
      font-size: 3rem;
      font-weight: 600;
      color: var(--color_font);
      line-height: 3rem;
      padding: 1.9rem 1.6rem;
      border: 2px solid #E0E0E0;
      border-radius: 50%; }
    .db_list_comments_products .product-comments-list-left .nb_comments {
      font-size: 0.9rem;
      color: var(--color_font); }
    .db_list_comments_products .product-comments-list-left .comments-note {
      margin: 10px 0; }
  .db_list_comments_products .product-comments-list-right {
    width: 75%;
    position: relative; }
  .db_list_comments_products .product-comment-list-item {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0 20px 20px;
    padding-top: 0; }
    .db_list_comments_products .product-comment-list-item:last-child {
      margin-bottom: 0;
      border: 0;
      padding-bottom: 0; }
    .db_list_comments_products .product-comment-list-item .comment-infos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      height: auto;
      letter-spacing: 0;
      min-height: 0;
      margin-bottom: 15px;
      font-size: 0.8rem; }
    .db_list_comments_products .product-comment-list-item .comment-infos .grade-stars {
      margin-bottom: 0;
      height: 25px; }
    .db_list_comments_products .product-comment-list-item .comment-infos .comment-date {
      margin-left: 5px;
      color: var(--color_font); }
    .db_list_comments_products .product-comment-list-item .comment-infos .verificated {
      margin-left: auto;
      color: #179942; }
      .db_list_comments_products .product-comment-list-item .comment-infos .verificated i {
        font-size: 18px;
        color: #179942 !important; }
    .db_list_comments_products .product-comment-list-item .comment-content .comment_title {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 1.05rem;
      color: var(--color_font); }
    .db_list_comments_products .product-comment-list-item p {
      color: var(--color_font) !important; }
    .db_list_comments_products .product-comment-list-item .comment-buttons a {
      color: var(--color_font) !important; }
  .db_list_comments_products #product-comments-list-pagination {
    position: inherit;
    margin: 1.5rem auto 0; }
    .db_list_comments_products #product-comments-list-pagination ul {
      justify-content: center; }
  .db_list_comments_products .post-product-comment {
    margin: 1.5rem auto 0;
    display: block;
    box-shadow: none;
    background: var(--button_p_bk);
    color: var(--button_p_color);
    border: 0; }
    .db_list_comments_products .post-product-comment:hover {
      background: var(--button_p_bk_hover);
      color: var(--button_p_color_hover); }

#product .product-comment-modal#post-product-comment-modal .criterion-rating label {
  color: var(--color_font); }
#product .product-comment-modal .post-comment-buttons .btn-comment {
  background: var(--button_p_bk);
  color: var(--button_p_color); }
  #product .product-comment-modal .post-comment-buttons .btn-comment:hover {
    background: var(--button_p_bk_hover);
    color: var(--button_p_color_hover); }

.product_packs_dto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .product_packs_dto .pack_dto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 8px);
    padding: 8px 16px;
    background-color: #FFF;
    border: 1px solid var(--color_font);
    cursor: pointer;
    text-align: center;
    margin: 4px; }
    .product_packs_dto .pack_dto > span {
      font-size: 16px;
      line-height: 26px; }
    .product_packs_dto .pack_dto:hover {
      border-color: var(--primary_color); }
      .product_packs_dto .pack_dto:hover > span {
        color: var(--primary_color); }
  .product_packs_dto .pack_dto.checked {
    border-color: var(--primary_color);
    color: var(--primary_color); }
    .product_packs_dto .pack_dto.checked > span {
      color: var(--primary_color); }

#product .dbjointpurchase_product .dbjointpurchase {
  margin-top: 0; }
  #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products {
    margin-left: -12px;
    margin-right: -12px;
    width: calc(100% + 24px); }
    #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products .dbjointpurchase_product {
      margin: 0 12px;
      width: calc(25% - 38px);
      border: 0;
      border-radius: 0;
      padding: 16px; }
      #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products .dbjointpurchase_product .name_product {
        font-weight: 500; }
        #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products .dbjointpurchase_product .name_product a {
          font-weight: 500;
          color: var(--color_font); }
          #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products .dbjointpurchase_product .name_product a:hover {
            text-decoration: none;
            color: var(--primary_color); }
      #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products .dbjointpurchase_product .product_prices .price_product {
        font-size: 20px;
        line-height: 32px; }
      #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products .dbjointpurchase_product .product_prices .old_price {
        color: #939393;
        font-size: 13px;
        line-height: 21px; }
      #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products .dbjointpurchase_product .product_prices .discount {
        color: #C81D25;
        font-size: 13px;
        line-height: 21px; }
    #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products .icon_more_purchase i {
      font-size: 20px;
      padding: 5px 6px;
      line-height: 20px; }
  #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_footer .regular_price {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700; }
  #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_footer .iva {
    font-size: 13px;
    line-height: 21px; }

@media (max-width: 1199px) {
  .product-quantity {
    flex-direction: row; }
    .product-quantity .qty,
    .product-quantity .add {
      justify-content: center; }
    .product-quantity .qty {
      margin-bottom: 16px; }
    .product-quantity .add {
      width: 100%; } }
@media (max-width: 991px) {
  .product-cover img {
    width: 100%;
    height: auto;
    pointer-events: none; }

  #product-modal .modal-content .modal-body {
    flex-direction: column;
    margin-left: 0; }
    #product-modal .modal-content .modal-body img.product-cover-modal {
      width: 100%; }
    #product-modal .modal-content .modal-body .arrows {
      display: none; }

  #product-modal .modal-content .modal-body .image-caption {
    width: 100%; }

  #blockcart-modal .modal-dialog {
    width: calc(100% - 20px); }
  #blockcart-modal .modal-body {
    padding: 1.875rem; }

  .product-images > li.thumb-container > .thumb:not(.selected) {
    border: none; }

  #product .product_topview {
    flex-direction: column; }
    #product .product_topview .block_left, #product .product_topview .block_center, #product .product_topview .block_right {
      width: 100%; }
    #product .product_topview.product_columns_2 {
      padding: 0; }
      #product .product_topview.product_columns_2 .block_left,
      #product .product_topview.product_columns_2 .block_right {
        width: 100%; }
    #product .product_topview .block_center {
      margin: 0; }
  #product .card {
    background-color: #FFFFFF; }
  #product .product-customization > .card {
    padding: 0;
    background-color: inherit; }
  #product .db_list_comments_products {
    flex-direction: column; }
    #product .db_list_comments_products > div {
      width: 100%; }
    #product .db_list_comments_products .product-comments-list-left {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #E0E0E0;
      padding-bottom: 1rem;
      margin-bottom: 1rem; }
    #product .db_list_comments_products .product-comment-list-item {
      margin-left: 0;
      margin-right: 0; }
  #product .blockreassurance_product {
    flex-direction: column; }
    #product .blockreassurance_product > div {
      width: 100%;
      justify-content: flex-start;
      margin: 7px 0; }
  #product .product_name {
    margin-bottom: 16px; }
  #product .product_add_to_cart .product-quantity .qty {
    margin-bottom: 16px; }

  .product-information .card_product_info {
    padding: 20px; }

  .product-features > div.data-sheet {
    width: 100%; }

  .payment_products {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1rem; }
    .payment_products .title {
      margin-bottom: 10px; }

  .price_outstanding .product-prices .product-price .current-price .price_tax {
    display: none; }

  .product_packs_dto .pack_dto {
    width: calc(50% - 8px); }

  .social-sharing {
    padding-bottom: 0;
    justify-content: flex-start; }

  .product-information {
    margin-top: 1rem; }
    .product-information .price_outstanding {
      margin-top: 1rem; }

  .product-quantity {
    flex-direction: row; }
    .product-quantity .qty,
    .product-quantity .add {
      justify-content: flex-start; }

  #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
    #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products .dbjointpurchase_product {
      width: 100%;
      margin: 12px 0; } }
@media (max-width: 767px) {
  #blockcart-modal .divide-right {
    border-right: none; }
  #blockcart-modal .modal-body {
    padding: 1rem; } }

/*# sourceMappingURL=products.css.map */
