.ps-alert-error {
  margin-bottom: 0;
}

.ps-alert-error,
.ps-alert-success {
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: $rojo;
    border: 2px $rojo solid;

    i {
      display: flex;
      border: 15px $rojo solid;

      svg {
        width: 24px;
        height: 24px;
        background-color: $rojo;
      }
    }

    p {
      width: 100%;
      padding: 18px 20px;
      margin: 0;
      background-color: $blanco;
    }
  }
}

.ps-alert-success {
  padding: 0.25rem 0.25rem 2.75rem;

  .item {
    background-color: $verde;
    border-color: $verde;

    i {
      border-color: $verde;

      svg {
        background-color: $verde;
      }
    }
  }
}


.alert {
  padding: 12px 12px 12px 58px;
  background-color: $blanco;
  position: relative;
  color: #363a41;
  border: .125rem solid transparent;
  margin-bottom: 1rem;

  li, p, span, strong {
    font-size: $font-size-detalle;
    line-height: $line-height-detalle;
  }
}
.alert:before {
  font-family: 'Font Awesome 6 Free';
  font-weight: 800;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: middle;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 46px;
  height: 100%;
  text-align: center;
  font-size: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
.alert p, .alert ul {
  font-size: 14px;
  margin: 0;
  padding: 0 .625rem;
  margin-left: 8px;
}
.alert ul {
  list-style-type: disc;
}
.alert-heading {
  color: inherit;
}
.alert-link {
  font-weight: 700;
}
.alert-dismissible {
  padding-right: 2.5rem;
}
.alert-dismissible .close {
  position: relative;
  top: -0.125rem;
  right: -1.25rem;
  color: inherit;
}
.alert-success {
  border-color: $verde;
  color: var(--color_font);
}
.alert-success:before {
  content: "\f058";
  background-color: $verde_100;
  color: $verde;
}
.alert-success hr {
  border-top-color: $verde_100;
}
.alert-success .alert-link {
  color: $verde;
}
.alert-info {
  border-color: $azul;
  color: var(--color_font);
}
.alert-info:before {
  content: "\f05a";
  background-color: $azul_100;
  color: $azul;
}
.alert-info hr {
  border-top-color: $azul_100;
}
.alert-info .alert-link {
  color: $azul;
}
.alert-warning {
  border-color: $amarillo;
  color: var(--color_font);
}
.alert-warning:before {
  content: "\f06a";
  background-color: $amarillo_100;
  color: $amarillo;
}
.alert-warning hr {
  border-top-color: $amarillo;
}
.alert-warning .alert-link {
  color: $negro;
}
.alert-danger {
  border-color: $rojo;
  color: var(--color_font);
}
.alert-danger:before {
  content: "\f071";
  background-color: $rojo_100;
  color: $rojo;
}
.alert-danger hr {
  border-top-color: $rojo_100;
}
.alert-danger .alert-link {
  color: $rojo;
}
