#block-reassurance {
  margin-top: 2rem;
  background-color: inherit !important;

  img {
    margin-right: 7px;
    height: 35px;
    width: auto;
  }

  li {
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li .block-reassurance-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > span {
      width: calc(100% - 42px);
    }
  }

  #product & {
    background: $white;

    span {
      font-weight: 700;
    }
  }
}

.blockreassurance_product {
  margin-top: 20px !important;

  .block-title {
    font-size: $font-size-p2;
    line-height: $line-height-p2;
    margin-bottom: 0;

    span {
      font-size: $font-size-small;
      line-height: $line-height-small;
    }

    span.title {
      font-weight: 500;
      font-size: $font-size-p2;
      line-height: $line-height-p2;
    }
  }
}

@media (max-width: 767px) {
  .price_outstanding,
  #product .blockreassurance_product {
    margin-left: 0;
    padding: 0 1rem;
  }
}
