#manufacturer {
  #main {
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .brand {
        position: relative;
        width: calc(20% - 10px);
        min-width: 210px;
        padding: 10px;
        margin: 5px;
        text-align: center;
        background: $blanco;
        transition: 0.4s ease-out;
        border: 1px solid $blanco;

        &-infos {
          a {
            display: inline-block;
          }
        }

        &:hover {
          border-color: $primary_color;
        }

        &-products {
          display: none;
        }

        &-img {
          position: relative;
          width: 200px;
          margin: auto;

          a {
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              width: 100%;
              height: 100%;
              content: "";
            }
          }
        }
      }
    }

    .manufacturer_short_desc {
      display: flex;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      background-color: inherit;
      padding: 0;
      background: var(--background) !important;

      .manufacturer-cover {
        margin-left: auto;
      }

      p {
        font-size: $font-size-p2;
        line-height: $line-height-p2;
      }

    }
  }

  #products .products > div {
    //width: 20%;
  }

  .dbproductcomments {
    display: table;
    background-color: #FFF;
    padding: 25px;

    .dbcomments_category .info_comment a {
      color: $color_font;
    }
  }

}

#manufacturer-description {
  display: table;
  width: 100%;
  margin-top: 48px;

  p {
    font-size: $font-size-p2;
    line-height: $line-height-p2;
  }

  .title {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    font-weight: 700;
    text-align: center;
  }
}

#full-column {
  margin-top: 2rem;
}

@include media-breakpoint-down(lg) {
  #manufacturer-description {
    margin-top: 1.25rem;
  }
}

@include media-breakpoint-down(md) {
  #js-product-list-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 1rem 0;

    > div {
      width: 50%;
    }
  }

  #manufacturer {
    #main {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
      }

      .manufacturer_short_desc {
        flex-direction: column;
        align-content: center;
        padding: 1.25rem;
        //background-color: $white;

        > * {
          width: 100%;
        }

        .manufacturer-cover img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

}

@include media-breakpoint-down(sm) {
  #manufacturer #main ul .brand {
    width: calc(50% - 10px);
    min-width: auto;

    .brand-img {
      width: 100%;
    }
  }
}
