.cart-grid {
  margin-bottom: 1rem;
}

.cart-items {
  margin-bottom: 0;
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  border-bottom: 0;
  background-color: $blanco;
  margin-bottom: 1rem;

  &:last-child {
    border-bottom: 0;
  }

  .product-image {
    width: calc(15% - 16px);
    margin-right: 16px;

    img {
      max-width: 100%;
    }
  }

  .cart__product-name {
    width: 50%;

    a {
      color: var(--color_font);
      font-size: $font-size-h4;
      line-height: $line-height-h4;
      font-weight: 500;
    }

    .product-attributes {
      font-size: $font-size-p2;
      line-height: $line-height-p2;
      p, span {
        font-size: $font-size-p2;
        line-height: $line-height-p2;
      }
    }
  }

  .cart__product-qty {
    width: 100px;
    text-align: center;


    .input-group {
      margin: 0 auto;
      display: table;
      float: none;
      z-index: 1000;

      .js-cart-line-product-quantity {
        height: 38px !important;
        left: 31px;
        width: 35px;
        text-align: center;
        line-height: 24px;
        border-left: 0;
        border-top: 0.8px solid var(--color_font);
        border-bottom: 0.8px solid var(--color_font);
        border-right: 0;
        font-size: $font-size-p2;
        line-height: $line-height-p2;
      }
    }

    .bootstrap-touchspin {
      .input-group-btn-vertical .touchspin-up:after {
        content: "\e145";
      }
      .input-group-btn-vertical .touchspin-down:after {
        content: "\e15b";
      }
      #quantity_wanted,
      #quantity_wanted_miniature {
        left: 29px;
        width: 50px;
        height: 44px !important;
        padding: 0;
        text-align: center;
        line-height: 24px;
        border-left: 0;
        border-top: 0.8px solid var(--color_font);
        border-bottom: 0.8px solid var(--color_font);
        border-right: 0;
      }
      .input-group-btn-vertical {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        .btn {
          height: 38px !important;
          padding: 1px 6px !important;
          top: 0;
          margin-top: 0;

          i {
            position: relative;
            top: 0;
            left: 0;
          }

          &.bootstrap-touchspin-down {
            left: -47px;
            margin: 0;
            border-color: var(--color_font);
            border-right: 0;
          }

          &.bootstrap-touchspin-up {
            left: 32px;
            border-color: var(--color_font);
            border-left: 0;
          }
        }
      }
    }

  }

  .cart__product-price {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: right;

    .remove-from-cart {
      color: $color-font;
      text-decoration: underline;
      font-size: 14px;
      margin-bottom: 10px;

      > i {
        float: right !important;
      }
    }

    .product-totalprice {
      font-size: $font-size-h3;
      line-height: $line-height-h3;
      font-weight: 500;
      color: $color-font;

      .old_price {
        font-size: $font-size-detalle;
        line-height: $line-height-detalle;
        font-weight: 400;
        color: $gris_400;
        margin-right: 12px;
        text-decoration: line-through;
      }
    }

    .product-price {
      font-size: $font-size-small;
      line-height: $line-height-small;
      margin-top: 4px;
      color: $color-font;
    }
  }
}

.card-block {

  &.checkout {
    padding-top: 0;
    padding-bottom: 20px;

    .btn-primary {
      width: 100%;
    }
  }

  &.cart-detailed-subtotals + .cart-summary-totals .cart-total {
    border-top: 1px solid $border-gray;
  }

  &.cart-summary-totals {
    padding: 0 1.25rem 0.825rem;

    .cart-summary-line {
      padding: 0.5rem 0.2rem 0;

      &:last-child {
        margin-bottom: 0;
      }

      &.cart-total {
        padding: 1rem 0;

        .label,
        .value {
          font-weight: 700;
        }

        .label {
          font-size: 1rem;
        }

        .value {
          font-size: 1rem;
        }
      }

      span {
        &.sub {
          float: none;
          font-size: 0.88rem;
          text-align: left;
        }
      }
    }
  }
}

.cart-summary-line {
  @include clearfix();
  margin-bottom: 0.315rem;
  clear: both;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .label {
    padding-left: 0;
    font-weight: 400;
    color: $gray-dark;
    white-space: inherit;
  }

  .value {
    float: right;
    font-weight: 600;
    color: var(--color_font);
  }

  &.cart-summary-subtotals {
    .label,
    .value {
      font-weight: 500;
    }
  }

  .label,
  .value {
    font-size: 1rem;
  }
}

/** CART BODY **/
.cart-grid-body {
  margin-bottom: 0.75rem;

  a.label {
    &:hover {
      color: var(--color_hover);
    }
  }

  .card-block {
    padding: 1rem 0;
    border-bottom: 0;
    background-color: inherit;

    h1 {
      margin-bottom: 0;
      font-size: $font-size-h2;
      line-height: $line-height-h2;
    }
  }

  .cart-overview {
    padding: 0;
  }
}

/** CART RIGHT **/
.cart-grid-right {


  .cart-summary {
    .cart-summary_header {
      padding: 1rem 0;
      background-color: var(--background);
      border-bottom: 0;
      font-size: $font-size-h3;
      line-height: $line-height-h3;
      font-weight: 500;
    }

    .cart-detailed-totals {

      .card-block {
        padding: 1rem 1rem 0.5rem;
      }

      .cart-summary-line {
        .label {
          padding-left: 0;
          font-weight: 400;
          white-space: inherit;
          color: $color-font;
          font-size: $font-size-small;
          line-height: $line-height-small;
        }
        .value {
          color: $color-font;
          float: right;
          font-weight: 400;
          font-size: $font-size-small;
          line-height: $line-height-small;
        }
      }
    }

    .card-block.cart-summary-totals {
      padding: 0 1rem 1rem;

      .cart-summary-line.cart-total {
        background-color: inherit;
        padding: 1rem 0 0.5rem;
        border-top: 1px solid #e0e0e0;
        margin-top: 0.5rem;

        .label {
          font-size: $font-size-h2;
          line-height: $line-height-h2;
          font-weight: 700;

          > span {
            font-weight: 400;
            font-size: $font-size-small;
            line-height: $line-height-small;
          }
        }

        .value {
          font-size: $font-size-h2;
          line-height: $line-height-h2;
          font-weight: 700;
        }
      }
    }

  }

  .promo-discounts {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0;
    text-align: left;

    .cart-summary-line {
      padding: 4px 20px;
      border: 1px solid $gris_300;
      margin-bottom: 8px;

      .label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: $font-size-detalle;
        line-height: $line-height-detalle;

        .code {
          cursor: pointer;
          margin-left: 5px;
        }

        > i {
          margin-left: auto;
          font-size: $font-size-detalle;
          line-height: $line-height-detalle;
          font-weight: 400;
        }
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  .cart-summary-line {
    &.cart-subtotal-products {
      .label,
      .value {
        font-weight: 600;
      }

      .value {
        font-size: 1rem;
      }
    }
  }

  .blockreassurance_product {
    padding: 0 20px;
  }

}

.separator {
  border-top: 0;
  border-bottom: 1px solid #e0e0e0;

  &.separator_voucher {
    margin: 0 1rem;
  }
}

.promo-name {
  margin-bottom: 0;

  .cart-summary-line {
    margin-bottom: 0.5rem;
    font-size: 13px;
    font-weight: 600;
    color: #C81D25;

    .label, i {
      font-weight: 600 !important;
      color: #C81D25 !important;
    }
  }
}

.block-promo {
  //margin-bottom: 1rem;

  .promo-code {
    padding: 0 1rem 1rem;

    .alert-danger {
      position: relative;
      display: none;
      margin-top: 1.25rem;
      color: $color-font;
      background: $blanco;

      &::after {
        position: absolute;
        bottom: 100%;
        left: 10%;
        width: 0;
        height: 0;
        margin-left: -10px;
        pointer-events: none;
        content: " ";
        border: solid transparent;
        border-width: 10px;
        border-bottom-color: $rojo;
      }

      .js-error-text {
        padding: 4px 8px;
        font-size: $font-size-minimo;
        line-height: $line-height-minimo;
      }
    }

    form {
      text-align: center;
    }
  }

  .promo-input {
    width: calc(100% - 100px);
    margin-right: 0;
    color: $color-font;
    border: 1px solid $color-font;
    font-size: $font-size-p2;
    line-height: $line-height-p2;
    padding: 0.5rem 1rem;
    float: left;

    &:focus-visible {
      outline: 0;
      border-color: var(--primary_color);
    }

    + button {
      text-transform: capitalize;
      border: 0;
      width: 100px;
      background-color: $azul;
      margin-left: -1px;
      padding: 8px 16px;
      font-size: $font-size-base;
      line-height: $line-height-base;
      font-weight: 500;

      &:focus-visible,
      &:focus {
        outline: 0;
      }
    }
  }

  .cart-summary-line .label,
  .promo-name {
    margin-bottom: 0;
    font-weight: 600;
    color: $brand-warning;

    a {
      display: inline-block;
      font-weight: 500;
      color: var(--color_font);
    }
  }

  .promo-name {
    .cart-summary-line {
      .label {
        font-weight: 500;
        color: $gray-dark;
      }

      span {
        color: $warning-second;
      }
    }

    .material-icons {
      margin-left: 0.4rem;
      font-size: 1.2rem;
    }
  }

  .promo-code-button {
    display: block;
    padding: 1rem;
    text-align: left;
    cursor: pointer;

    /*&.with-discounts {
      display: none;
    }*/

    &.cancel-promo {
      margin-bottom: 0;
      color: var(--primary_color);

      &[aria-expanded="true"] {
        display: block;
        padding: 0;
        margin-top: 1rem;
      }
    }

    .collapse-button {
      color: var(--font_color);
      font-size: $font-size-p2;
      line-height: $line-height-p2;
      font-weight: 400;

      > i {
        float: right;
      }
    }
  }

  &.promo-highlighted {
    padding: 0 1rem;
    margin-bottom: 0;
    text-align: center;
  }

  p {
    margin-bottom: 0;
  }
}

/** CONTENT LEFT **/
.product-line-grid-left {
  img {
    max-width: 100%;
  }
}

/** CONTENT BODY **/
.product-line-grid-body {
  > .product-line-info {
    > .label {
      padding: 0;
      font-weight: 600;
      line-height: inherit;
      text-align: left;
      white-space: inherit;
    }

    > .out-of-stock {
      color: #f00;
    }

    > .available {
      color: $brand-success;
    }

    > .unit-price-cart {
      padding-left: 0.3125rem;
      font-size: 0.875rem;
      color: $gray;
    }
  }
}

/** CONTENT LEFT **/
.product-line-grid-right {
  .cart-line-product-actions,
  .product-price {
    line-height: 36px;
    color: var(--color_font);

    .remove-from-cart {
      display: inline-block;
      margin-top: 0.3125rem;
      color: var(--color_font);
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .product-line-grid-body {
    margin-bottom: 1rem;
  }

  .cart-grid-right {
    .cart-detailed-totals {
      padding: 1rem;

      > .card-block {
        padding: 0;
      }

      .cart-summary-line:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .cart-summary-totals {
        padding: 0;
        margin-top: 1rem;

        .cart-summary-line.cart-total {
          padding: 0;
        }
      }
    }

    .card-block.checkout {
      padding: 1rem
    }
  }

  .cart-item {
    flex-wrap: wrap;
    position: relative;

    .cart__product-name {
      width: 75%;
    }
    .cart__product-qty {
      width: 50%;
      margin-top: 15px;

      .input-group {
        margin: 0;
      }
    }
    .cart__product-price {
      width: 50%;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      .product-price {
        margin-top: 0;
        margin-right: 8px;
      }

      .remove-from-cart {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

  }
}

@include media-breakpoint-down(xs) {
  .cart-items {
    padding: 1rem 0;
  }

  .cart-item {
    border-bottom: 1px solid $gray-light;

    &:last-child {
      border-bottom: 0;
    }
  }

  .cart-grid-body {
    .cart-overview {
      padding: 0;
    }

    .no-items {
      display: inline-block;
      padding: 1rem;
    }
  }

  .product-line-grid-left {
    // stylelint-disable-next-line
    padding-right: 0 !important;
  }
}

@media (max-width: 360px) {
  .product-line-grid-right {
    .qty {
      width: 100%;
    }

    .price {
      width: 100%;
    }
  }
}
