.contact-rich {
  margin-bottom: 2rem;
  color: $gray;
  word-wrap: break-word;

  h4 {
    margin-bottom: 2rem;
    color: var(--color_font);
    text-transform: uppercase;
  }

  .block {
    height: auto;
    overflow: hidden;

    .icon {
      float: left;
      width: 3.5rem;

      i {
        font-size: 2rem;
      }
    }

    .data {
      width: auto;
      overflow: hidden;
      font-size: $font-size-detalle;
      line-height: $line-height-detalle;
      color: var(--color_font);

      &.email {
        padding-top: 0.375rem;
      }
    }

    a[href^="mailto:"] {
      margin-top: 1rem;
      clear: both;

      @include media-breakpoint-up(sm) {
        font-size: 0.815rem;
      }
    }
  }
}

.contact-form {
  width: 100%;
  padding: 1rem;
  color: $gray;
  background: $white;

  h3 {
    color: var(--color_font);
  }

  .title_contactform {
    margin-bottom: 0;
  }

  .gdpr_consent {
    padding: 0 15px;
  }

  .btn.btn-primary {
    padding: 8px 24px;
  }
}

#contact {
  .dbcontactinfo_sidebar {
    .block_icon {
      p {
        font-size: $font-size-detalle;
        line-height: $line-height-detalle;
      }

      .blockicon_content {
        .value {
          font-weight: 500;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .contact-form .filestyle {
    display: none;
  }
  #contact #wrapper #left-column {
    padding-right: 0;
  }
  #contact #wrapper #content-wrapper {
    padding-left: 0;
    width: 100% !important;
    margin-top: 2rem;
  }
}