$thumbnail-size: 250px;
$product-description-height: 70px;

#products,
.featured-products,
.product-accessories,
.product-miniature {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .product-thumbnail {
    display: block;
  }

  .thumbnail-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
    overflow: hidden;
    background: $white;

    &:hover,
    &:focus {
      .highlighted-informations {
        top: calc(250px - 4.4rem);
        bottom: 5.5rem;

        &::after {
          opacity: 1;
        }

        &.no-variants {
          top: calc(250px - 2.5rem);
          bottom: 2.2rem;
        }
      }
    }

    .product-thumbnail {
      position: relative;
      height: calc(100% - #{$product-description-height});

      img {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: auto;
        margin: auto;
      }

      &.multiple_img {
        .second_img {
          display: none;
        }

        &:hover {
          .first_img {
            display: none;
          }
          .second_img {
            display: block;
          }
        }
      }

    }
  }

  .product-title {
    text-transform: capitalize;
    margin-top: 12px;
    margin-bottom: 8px;
    height: 54px;
    overflow: hidden;
    color: var(--color_font);
    font-size: $font-size-base;
    line-height: $line-height-base;
    text-decoration: none;
    font-weight: 400;
    padding: 0 12px;
    text-align: left;

    &:hover {
      color: var(--color_hover);
    }
  }

  .product-price-and-shipping {
    font-weight: 700;
    color: var(--color_font);
    text-align: left;
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 54px;

    .discount-product {
      font-size: $font-size-minimo;
      line-height: $line-height-minimo;
      font-weight: 400;
      padding: 4px 8px;
      background-color: $rojo;
      color: #FFF;
      margin-bottom: auto;
    }
    .prices_flex {
      display: flex;
      flex-direction: column;
    }
  }

  .product-list-reviews {
    position: initial;
    justify-content: flex-start;
    margin-left: -7px;
    padding-bottom: 8px;
    visibility: visible;

    .grade-stars {
      .stars_empty {
        margin-left: 7px;

        i {
          font-size: 14px;
          width: 13px;
          line-height: 17px;
          height: auto;
          color: #E0E0E0;
        }
      }

      &.small-stars {
        //margin-left: 7px;

        >i {
          font-size: 14px;
          width: 13px;
          line-height: 17px;
          height: auto;
          color: #E0E0E0;
        }
      }
    }

    .grade-stars-empty {
      .stars_empty {
        margin-left: 7px;

        i {
          font-size: 14px;
          width: 13px;
          line-height: 17px;
          height: auto;
          color: #E0E0E0;
        }
      }
    }
  }

  .variant-links {
    position: relative;
    top: -0.25em;
    width: 100%;
    min-height: 2.5rem;
    padding-top: 0.1875rem;
    text-align: center;
    background: $white;
  }

  .highlighted-informations {
    position: absolute;
    top: $thumbnail-size;
    bottom: 1.25rem;
    z-index: 2;
    width: $thumbnail-size;
    height: auto;
    padding-top: 0.625rem;
    text-align: center;
    background: $white;
    transition: top 0.3s, bottom 0.3s;

    .quick-view {
      font-size: $font-size-base;
      color: $gray;

      &:hover {
        color: var(--color_hover);
      }
    }
  }

  .product-description {
    position: initial;
    bottom: 0;
    z-index: 3;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0 12px 12px;
    overflow: hidden;
    background: $blanco;

    .dbproduct_list_reviews {
      margin: 0;
      text-align: left;

      .total_stars {
        font-size: $font-size-minimo;
        line-height: $line-height-minimo;
        color: $color-font;
      }
    }

    .add-to-cart-category {
      text-transform: initial;
      display: block;
      margin: 12px auto 0;
      max-width: 100%;
      width: 100%;
      font-weight: 400;
    }
  }

  .product {
    padding: 0;

    @at-root .page-index &, .page-search & {
      width: 25%;
      min-width: 250px;
    }
  }

  .product-miniature {
    margin: 0 8px;

    .product-flags {
      li.product-flag {

        &.on-sale{
          background: $amarillo;
        }

        &.online-only {
          background: $verde;
        }

        &.new{
          background: #2F64D2;
        }

        &.pack{
          background: $azul;
        }

        &.out_of_stock{
          background: $gris_300;
        }
      }
    }

    /*.add {
      padding: 0 0 8px;
    }*/
  }

  .comments_note {
    color: $gray;
    text-align: center;
  }

  .regular-price {
    display: inline-block;
    font-size: $font-size-small;
    line-height: $line-height-small;
    color: $gris_400;
    /*
    text-decoration: line-through;
    */
    font-weight: 400;

    .block-regular-price{
      text-decoration: line-through;
    }
  }

  .count {
    position: relative;
    bottom: 0.5rem;
    font-weight: 700;
    color: $gray;
  }

  .all-product-link {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    clear: both;
    font-weight: 500;
    color: $gray;

    @at-root .lang-rtl & {
      .material-icons {
        transform: rotate(-180deg);
      }
    }
  }

  .wishlist-button-add {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    i {
      font-size: 18px;
      color: #666;
    }
  }
}

.prev_pagination .btn_volver {
  margin: 0 auto 1rem;
  display: table;
}

.product-flags {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2;
  align-items: flex-start;

  li.product-flag {
    width: fit-content;
    padding: 4px 8px;
    margin-top: $espacio_8;
    font-size: $font-size-minimo;
    line-height: $line-height-minimo;
    font-weight: 400;
    color: $blanco;
    text-transform: uppercase;
    pointer-events: auto;
    background: $brand-primary;

    &.discount-percentage,
    &.discount-amount,
    &.discount {
      background-color: $naranja;
    }

    &.on-sale {
      order: -1;
      margin-top: 0 !important;
      text-align: center;
      background: $brand-secondary;
    }

    &.online-only {
      background: $verde;
    }

    &.new{
      background: #2F64D2;
    }

    &.pack{
      background: $azul;
    }

    &.out_of_stock{
      background: $gris_300;
    }
  }
}

#products {
  color: $gray;

  .products-select {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .up {
    margin-bottom: 1rem;

    .btn-secondary {
      color: $gray;
      text-transform: inherit;

      .material-icons {
        margin-right: 0;
      }
    }
  }

  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -8px;
    margin-right: -8px;

    > div {
      width: 25%;
    }
  }

  .pagination {
    width: 100%;
    flex-direction: column;

    .text__infinitescroll {
      width: 100%;
      text-align: center;
      font-size: $font-size-small;
      line-height: $line-height-small;
      font-weight: 400;
    }

    .progress {
      display: block;
      width: 200px;
      height: 2px;
      background-color: $gris_300;
      margin: 0 auto 20px;

      .progress-bar {
        height: 2px;
        background: var(--primary_color);
      }
    }

    #btn_inifinitescroll {
      margin: 0 auto;
      display: table;
    }
  }
}

#js-product-list-top {
  margin: 32px 0;
  padding: 8px 0;
  border-top: 1px solid $gris_300;
  border-bottom: 1px solid $gris_300;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  > div {
    padding: 0;
  }

  #selectProductSort {
    display: inline-block;
    width: 100%;
    color: $color-font;
    padding: 5px;
    cursor: pointer;
    max-width: 200px;
    float: right;
    height: auto !important;
    font-size: $font-size-minimo;
    line-height: $line-height-minimo;
    z-index: 999;
    background-color: transparent;
  }

  .total-products p {
    margin-bottom: 0;
  }


}

@include media-breakpoint-down(lg) {
  #products {
    .products {
      > div {
        width: 25%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .featured-products {
    .products {
      justify-content: center;
    }
  }

  .featured-products .products > div,
  .product-accessories .products > div,
  .product-miniature .products > div {
    width: 50%;
  }

  #products .products {
    //padding: 0 5px;
    padding: 0;
  }

  .featured-products .product-miniature,
  .splide__slide .product-miniature {
    margin: 0;
  }

  .splide .splide__track {
    margin-left: -10px;
    margin-right: -10px;
  }

  #products {
    .products {
      > div {
        width: 33%;
      }
    }
  }

  #js-product-list-top {
    > div {
      width: 100%;
    }
  }
/*
  .product-price-and-shipping {
    .prices_flex {
      display: flex;
      flex-direction: column;
    }
  }*/
}

@media (min-width: 768px) and (max-width: 991px) {
  #js-product-list-top > div {
    width: 50%;
  }
}

@include media-breakpoint-down(sm) {
  .featured-products {
    .products {
      justify-content: center;
    }
  }

  .featured-products .products > div,
  .product-accessories .products > div,
  .product-miniature .products > div {
    width: 50%;
  }

  #products .products {
    //padding: 0 8px;
    padding: 0;
  }

  .featured-products .product-miniature,
  .splide__slide .product-miniature {
    margin: 0;
  }

  .splide .splide__track {
    margin-left: 0;
    margin-right: 0;
  }

  #products {
    .products {
      > div {
        width: 50%;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  #products {
    .products {
      > div {
        width: 50%;
      }
    }
  }
}
