.forgotten-password {
  padding: 4px;

  .form-fields {
    .center-email-fields {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 767px) {
        flex-direction: column;

        button {
          width: calc(100% - 20px);
          margin: 10px;
        }
      }

      button {
        margin-top: 15px;
        height: 38px;
      }

      .form_forgot_pass, .form-control {
        width: 100%;
      }
    }

    .email {
      width: 430px;
      padding-right: 0;
      padding-left: 0;

      @media (max-width: 767px) {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
      }

      input {
        height: 38px;
      }
    }

    label.required {
      width: 100%;
      text-align: left;
    }
  }
}

.send-renew-password-link {
  padding: 0;
}
