#header {
  position: relative;
  color: var(--header_color);
  background: var(--header_bk);

  .logo {
    max-width: 100%;
    height: auto;
  }

  #_desktop_logo {
    h1 {
      margin-bottom: 0;
    }
  }

  a {
    color: var(--header_link);

    &:hover {
      color: var(--header_hover);
      text-decoration: none;
    }
  }

  .menu {
    display: inline-block;

    > ul {
      > li {
        display: inline-block;
      }
    }
  }

  .header-nav {
    min-height: 30px;
    max-height: 50px;
    background-color: var(--topbar_bk);

    span,
    p,
    strong,
    i {
      color: var(--topbar_color);
      font-size: $font-size-small;
      line-height: $line-height-small;
    }

    .headernav_flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .displayNav1,
      .displayNav2 {
        width: 33%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .displayNav2 {
        justify-content: flex-end;
      }

      .displayNavCenter {
        width: 30%;

        .dbfreeshipping {
          text-align: center;
        }
      }

      .mobile {
        width: 100%;
      }
    }

    #menu-icon {
      margin: 0 1rem;
      vertical-align: middle;
      cursor: pointer;

      .material-icons {
        line-height: 50px;
      }
    }

    .right-nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
    }

    .currency-selector {
      /*margin-top: 0.9375rem;*/
      margin-left: 0.9375rem;
      white-space: nowrap;
    }

    .language-selector {
     /* margin-top: 0.9375rem;*/
      margin-left: 0.9375rem;
      white-space: nowrap;
    }

    .dbcontactinfo_nav {

      .block_dbcontactinfo {
        p, span, strong {
          font-size: $font-size-p2;
          line-height: $line-height-p2;
        }

        .horario {
          font-size: $font-size-small;
          line-height: $line-height-small;
        }
      }

      .open_contact {
        padding: 4px 8px;
      }

    }

  }

  .header-top {
    padding: 20px 0 8px;

    &.notdisplaynav {
      padding: 44px 0 20px;
    }

    > .container {
      position: relative;

      > .row:first-of-type {
        display: flex;
        align-items: center;
      }
    }

    .header__flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      .displayTopCenter {
        min-width: 50%;
        width: 55%;
      }

      .displayTop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        min-height: 40px;

        #_desktop_user_info {
          margin: 0 16px;

          .userinfo_header {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
        #_desktop_user_info span {
          color: var(--header_color);
        }
        #_desktop_cart {
          display: block;
          position: relative;

          .blockcart_header,
          .blockcart_header > a {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          i {
            color: var(--color_icons_header);
          }

          .cart-products-count {
            position: absolute;
            top: -3px;
            right: 10px;
            padding: 0;
            background-color: var(--second_color);
            color: #FFF;
            border-radius: 50%;
            font-size: 12px;
            font-weight: 600;
            width: 8px;
            height: 8px;
          }

        }

        span,
        p,
        strong,
        i {
          color: var(--header_color);
        }

        i {
          font-size: 21px;
          color: var(--color_icons_header);
        }

        .icon_name {
          font-size: $font-size-minimo;
          line-height: $line-height-minimo;
          font-weight: 400;
          margin-top: 4px;
        }
      }
    }

    .menu {
      padding-left: 15px;
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .position-static {
      position: static;
    }

    a[data-depth="0"] {
      color: $gray;
      text-transform: uppercase;
    }

  }

  .top-menu-link {
    margin-left: $medium-space;
  }

  .dbmenu {
    background-color: inherit;
    border-top: 1px solid $gris_300;
    border-bottom: 1px solid $gris_300;

    .dbmenu_navigation {
      padding: 8px 16px;
    }
  }

}

@include media-breakpoint-down(md) {
  #header {
    .header-nav {
      background: var(--header_bk);
      color: var(--header_color);
      border-bottom: 0;
      margin-bottom: 0;
      padding: 0;
      display: none;

      .mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        padding: 0.5rem 0;

        .top-logo {
          display: flex;
          align-items: center;
          padding-top: 3px;

          img {
            max-height: 30px;
            width: auto;
          }

          > h1 {
            margin: 0;
          }
        }

        i {
          margin-left: 15px;
        }

        #_mobile_contact_info {
          margin-left: auto;
          margin-top: 0;
        }

        .blockcart {
          position: relative;

          .cart-products-count {
            position: absolute;
            top: -5px;
            right: -5px;
            padding: 5px;
            background-color: var(--primary_color);
            color: #FFF;
            border-radius: 50%;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }

      i {
        font-size: 24px;
      }

      span, p, strong, i {
        color: var(--header_color);
      }
    }

    .header-top {
      padding: 18px 0;

      .header__flex {
        .displayTopCenter {
          /*
          width: 55%;
          */
          min-width: inherit;

          /*.search-widget form button[type="submit"] {
            color: var(--header_color);
          }*/
        }

        .displayTop {
          min-height: 0;
        }

        &.mobile {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;

          .mobile_top {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 16px;
            width: 100%;
            margin: 20px 0;
            max-height: 56px;
          }

          .mobile_middle {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            padding: 8px 16px;
            width: 100%;
            border-top: 1px solid $gris_300;
            border-bottom: 1px solid $gris_300;

            #mobile__menu {
              i {
                font-size: 24px;
              }
            }

            .displayTopCenter {
              width: calc(100% - 40px);
              margin-left: 16px;
            }
          }

          .displayTop {
            .icon_name {
              display: none;
            }

            i {
              font-size: 24px;
            }

            #_desktop_user_info {
              margin: 0 24px;
            }
          }
        }
      }

      #mobile_top_menu_wrapper {
        padding: 0;
      }

      .search-widget form input[type="text"] {
        min-width: inherit;
        color: var(--seach_color);
        background-color: var(--search_bk);
      }

    }
  }
}

@include media-breakpoint-down(md) {
  #header {
    .header-nav {
      .icon_name {
        display: none;
      }

      #_mobile_user_info {
        margin-left: auto;

        .user-info {
          margin: 0 20px;
        }
      }

      .headernav_flex {
        .mobile {
          i {
            margin: 0;
            font-size: 20px;
          }
        }
      }
    }

    .header-top {
      border-top: 1px solid $gris_300;

      .header__flex {
        align-items: center;

        .displayTopCenter{
          width: 40%;
        }

      }
    }

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-top {
      .displayTop {
        .dbwishlist_top {
          display: none;
        }
      }
  }
}

@include media-breakpoint-down(sm) {
  #header {
    .header-top {
      padding-bottom: 0;
      padding-top: 0;
      border-top: 0;

      .container {
        padding: 0;
        width: auto;
      }

      .header__flex {
        .displayTopCenter {
          width: calc(100% - 35px);
          min-width: inherit;
        }

        .displayTop #_desktop_cart .cart-products-count {
          right: -4px;
        }
      }
    }

    .header-top {
      .search-widget form input[type="text"] {
        min-width: inherit;
        background: var(--header_bk);
        color: var(--header_color);
      }
    }

    .dbmenu {
      border: 0;
    }
  }
}
