#header .open_account {
  cursor: pointer;
}

#userinfo_modal .modal-dialog {
  max-width: 380px;
  width: 100%;
  float: right;
  margin: 0;
  height: 100vh;

  .modal-content {
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: $background-color;
    max-width: 320px;
    min-width: 320px;
    float: right;
  }

  .modal-header {
    border: 0;
    background-color: $negro;
    padding: 16px;

    .modal-title {
      font-size: $font-size-base;
      line-height: $line-height-base;
      font-weight: 500;
      color: $blanco !important;
    }
    .close {
      opacity: 1;
      text-shadow: none;

      span {
        font-size: 24px;
        line-height: $line-height-base;
        font-weight: 500;
        color: $blanco !important;
      }
    }
  }

  .modal-body {
    padding: 0;
  }

  .modal_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $blanco;
    margin-bottom: 16px;

    > * {
      padding: 16px;
    }

    .title {
      font-weight: 500;
      color: $gris_400 !important;
      font-size: $font-size-base;
      line-height: $line-height-base;
    }

    .item {
      font-weight: 400;
      color: $color-font;
      font-size: $font-size-detalle;
      line-height: $line-height-detalle;

      > i {
        font-size: $font-size-detalle !important;
        line-height: $line-height-detalle;
        margin-right: 4px;
      }

      &:hover {
        color: $primary-color;

        > i {
          color: $primary-color;
        }
      }
    }
  }

  .close_session {
    display: table;
    margin: 1rem auto;
  }
}
