#product {
  #content {
    position: relative;
    max-width: 452px;
    margin: 0 auto;
  }

  .product_topview {
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .block_left {
      width: 30%;
    }
    .block_center {
      width: calc(42% - 40px);
      margin: 0 20px;
    }
    .block_right {
      width: 28%;
    }
    &.product_columns_2 .block_left {
      width: 50%;
    }
    &.product_columns_2 .block_right {
      width: 42%;
    }
    &.product_columns_2 .block_left #content {
      max-width: 100%;
    }
    &.product_columns_2 .block_left #content .product-cover img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .dbfreeshipping {
    color: var(--color_font) !important;
  }

}

.product-price {
  display: inline-block;
  color: var(--primary_color);
}

#product-description-short {
  color: var(--color_font);

  ul,
  ol {
    padding-left: 0;
    list-style-position: inside;

    li {
      font-size: 0.9375rem;
      color: $gray;
    }
  }

  ul {
    list-style-type: disc;
  }
}

.product-information {
  font-size: $font-size-lg;
  color: var(--color_font);
  margin-top: 2rem;

  .manufacturer-logo {
    height: 3.125rem;
    margin-bottom: 1rem;
    border: none;
  }

  .product-description {
    img {
      max-width: 100%;
      height: auto;
    }

    ul,
    ol {
      padding-left: 0.75rem;
      list-style-position: inside;

      li {
        font-size: 0.9375rem;
        color: $gray;
      }
    }

    ul {
      list-style-type: disc;
    }
  }

  .btn-link {
    width: 100%;
    text-align: left;
    color: var(--color_font);
    font-size: 18px;

    > i {
      float: right;
    }

    .collapse_down {
      display: none;
    }
    .collapse_up {
      display: block;
    }

    &:focus {
      outline: 0;
      text-decoration: none;
    }

    &.collapsed {
      > i {
        &.collapse_down {
          display: block;
        }
        &.collapse_up {
          display: none;
        }
      }
    }
  }

  .info_content, #product-details {
    padding: 1rem;
  }

  #product-details .product-details {
    padding: 0;
  }

  &.open {
    .product-info_title {
      width: 100%;
      text-align: left;
      color: var(--color_font);
      font-size: 18px;
      margin-bottom: 1rem;
      display: table;
    }

    > .card {
      padding: 1rem;
    }

    .info_content,
    #product-details {
      padding: 0;
    }
  }
}

.input-color {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  opacity: 0;
}

.input-container {
  position: relative;
}

.input-radio {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.input-color,
.input-radio {
  &:checked + span,
  &:hover + span {
    border: 2px solid $gray-darker;
  }
}

.radio-label {
  display: inline-block;
  padding: 0.125rem $small-space;
  font-weight: 600;
  background: $white;
  border: 2px solid $white;
}

.product-actions {
  .control-label {
    display: block;
    width: 100%;
    margin-bottom: 0.375rem;
  }

  .add-to-cart {
    height: 2.75rem;
    padding-top: 0.625rem;
    line-height: inherit;

    .material-icons {
      line-height: inherit;
    }
  }
}

.product-quantity {
  display: flex;
  margin-top: $medium-space;

  .qty,
  .add {
    display: inline-flex;
    float: left;
    margin-bottom: 0.5rem;
  }

  .add {
    min-width: calc(100% - 115px);
    max-width: 70%;

    .add-to-cart {
      height: 2.75rem;
      line-height: inherit;
      padding-top: .625rem;
      width: 100%;
      font-weight: 400;
      text-transform: none;

      > i {
        line-height: inherit;
        margin-right: 2px;
        font-size: 20px;
      }
    }
  }

  .qty {
    margin-right: 5px;
    min-width: 110px;
  }

  #quantity_wanted {
    width: 3rem;
    height: 2.75rem;
    padding: 0.175rem 0.5rem;
    color: var(--color_font);
    background-color: $white;
  }

  .input-group-btn-vertical {
    width: auto;

    .btn {
      padding: 0.5rem 0.6875rem;

      i {
        top: 0.125rem;
        left: 0.1875rem;
        font-size: 1rem;
      }
    }
  }

  .btn-touchspin {
    height: 1.438rem;
  }

}

.product-quantity .input-group-btn-vertical .btn {
  border: 1px solid;
  height: 44px !important;
  padding: 1px 6px !important;
  top: 0;
  margin-top: 0;
}
.product-quantity .input-group-btn-vertical .btn i {
  position: relative;
  top: 0;
  left: 0;
}
.bootstrap-touchspin {
  .input-group-btn-vertical .touchspin-up:after {
    content: "\e145";
  }
  .input-group-btn-vertical .touchspin-down:after {
    content: "\e15b";
  }
  #quantity_wanted,
  #quantity_wanted_miniature {
    left: 29px;
    width: 50px;
    height: 44px !important;
    padding: 0;
    text-align: center;
    line-height: 24px;
    border-left: 0;
    border-top: 0.8px solid var(--primary_color);
    border-bottom: 0.8px solid var(--primary_color);
    border-right: 0;
  }
  .input-group-btn-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    .bootstrap-touchspin-down {
      left: -77px;
      border-left: 0.8px solid var(--primary_color);
      border-top: 0.8px solid var(--primary_color);
      border-bottom: 0.8px solid var(--primary_color);
      border-right: 0;
    }
    .bootstrap-touchspin-up {
      border-left: 0;
      border-top: 0.8px solid var(--primary_color);
      border-bottom: 0.8px solid var(--primary_color);
      border-right: 0.8px solid var(--primary_color);
      left: 30px;
    }
  }
}


.product-discounts {
  margin-bottom: 1.5rem;

  > .product-discounts-title {
    font-size: $font-size-sm;
    font-weight: 600;
  }

  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: $small-space $medium-space;
      text-align: center;
      background: $white;
      border: 0.3125rem $gray-light solid;
    }

    tbody tr {
      background: $gray-lighter;

      &:nth-of-type(even) {
        background: $white;
      }

      td {
        padding: $small-space $medium-space;
        text-align: center;
        border: 0.3125rem $gray-light solid;
      }
    }
  }
}

.product-prices {
  div {
    margin-bottom: 0.625rem;
  }

  .tax-shipping-delivery-label {
    font-size: 0.8125rem;
    color: $gray;

    .delivery-information {
      padding: 0 0 0 2px;

      &::before {
        padding: 0 2px 0 0;
        content: "-";
      }
    }

    .available_stock {
      background-color: #d6eed1;
      padding: 3px 10px;
      color: #458057;
    }
    .available_stock.unavailable {
      background-color: #ff9a522e;
      color: #ff9a52;

      > .delivery-information {
        display: none;
      }
    }
  }

  .product-quantities label {
    margin-bottom: 0;
  }
}

.product-discount {
  color: $gray;

  .regular-price {
    margin-right: $small-space;
    font-weight: 500;
    text-decoration: line-through;
  }
}

.has-discount {
  &.product-price,
  p {
    color: $brand-secondary;
  }

  .discount {
    display: inline-block;
    padding: 0.3125rem $small-space;
    margin-left: $small-space;
    font-size: $font-size-base;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    background: $brand-secondary;
  }
}

.product-unit-price {
  margin-bottom: 0;
  font-size: $font-size-xs;
  color: $brand-primary;
}

.tabs {
  padding: $medium-space $large-space;
  margin-top: 2rem;
  background: $white;

  .tab-pane {
    padding-top: $medium-space;
  }

  .nav-tabs {
    border: none;
    border-bottom: $gray-light 2px solid;

    .nav-link {
      color: $gray;
      border: 0 solid transparent;

      &.active {
        color: $brand-primary;
        border: none;
        border-bottom: $brand-primary 3px solid;
      }

      &:hover {
        border: none;
        border-bottom: $brand-primary 3px solid;
      }
    }

    .nav-item {
      float: left;
      margin-bottom: -0.125rem;
    }
  }
}

.product-cover {
  position: relative;
  margin-bottom: $medium-space;

  img {
    background: $white;
    width: 100%;
    height: auto;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    @include transition(opacity 0.7s ease-in-out);

    &:hover {
      opacity: 1;
    }

    .zoom-in {
      font-size: 3.125rem;
      color: $btn-primary-color;
    }
  }
}

.displayProductCenterColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;

  .product-manufacturer {
    position: relative;
    margin-left: auto;

    .brand_centercolumn {
      display: table;

      img {
        height: 35px;
        width: auto;
        border: 0;
      }
    }
  }
}

.price_outstanding {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem;

  .product-prices {
    .product-price {
      width: 100%;
      padding-bottom: .625rem;
      margin-bottom: .625rem;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
      color: var(--color_font);

      .current-price {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 0;

        .price_with_tax {
          font-size: 1.8rem;
          line-height: 1.8rem;
          font-weight: 600;
          margin-right: 10px;
        }
        .show_discount,
        .show_pvp {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin-right: 10px;

          .title {
            font-size: .7rem;
          }
          span.old_price {
            text-decoration: line-through;
          }
          .discount {
            color: $white;
            font-size: .8rem;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            background-color: var(--second_color);
            padding: 1px 6px;
          }

        }
      }
    }
  }
}

#splide_images_product .splide__slide img,
#splide_images_product_miniature .splide__slide img,
#splide_images_product_miniature_lateral .splide__slide img {
  max-width: 100%;
  height: auto;
}

#splide_images_product_secundary{
  margin: 10px 0;
}

.images-container.images_lateral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#splide_images_product_miniature_lateral {
  width: calc(100% - 85px);
}

#product .product_topview .product-description {
  max-width: calc(100% - 50px);
}

#product-modal {
  .modal-content {
    padding: 0;
    background: transparent;
    border: none;

    .modal-body {
      display: flex;
      margin-left: -30%;

      .product-cover-modal {
        background: $white;
      }

      .image-caption {
        width: 800px;
        padding: 0.625rem 1.25rem;
        background: $white;
        border-top: $gray-light 1px solid;

        p {
          margin-bottom: 0;
        }
      }

      .thumbnails {
        position: relative;
      }

      .mask {
        position: relative;
        z-index: 1;
        max-height: 49.38rem;
        margin-top: 2.188rem;
        overflow: hidden;

        &.nomargin {
          margin-top: 0;
        }
      }

      .product-images {
        margin-left: $extra-large-space;

        img {
          width: 9.25rem;
          height: auto;
          cursor: pointer;
          background: $white;

          &:hover {
            border: $brand-primary 3px solid;
          }
        }
      }

      .arrows {
        position: absolute;
        top: 0;
        right: $large-space;
        z-index: 0;
        width: 100%;
        height: 100%;
        color: $white;
        text-align: center;
        cursor: pointer;

        .arrow-up {
          position: absolute;
          top: -2rem;
          opacity: 0.2;
        }

        .arrow-down {
          position: absolute;
          bottom: -2rem;
        }

        i {
          display: inline;
          font-size: 6.25rem;
        }
      }
    }
  }
}

.product-images {
  > li.thumb-container {
    display: inline;

    > .thumb {
      margin-bottom: $small-space;
      cursor: pointer;

      .images-container & {
        margin-right: 0.8125rem;
      }

      &.selected,
      &:hover {
        border: $brand-primary 3px solid;
      }
    }
  }
}

#main {
  .images-container {
    .js-qv-mask {
      overflow: hidden;
      white-space: nowrap;

      &.scroll {
        width: calc(100% - 60px);
        margin: 0 auto;
      }
    }


  }
}

.scroll-box-arrows {
  display: none;

  &.scroll {
    display: block;
  }

  i {
    position: absolute;
    bottom: 1.625rem;
    height: 100px;
    line-height: 100px;
    cursor: pointer;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

#product-availability {
  display: inline-block;
  font-weight: 700;

  .material-icons {
    line-height: inherit;
  }

  .product-available {
    color: $brand-success;
  }

  .product-unavailable {
    color: $brand-warning;
  }

  .product-last-items {
    color: $brand-warning;
  }
}

#product-details {
  .label {
    font-size: $font-size-base;
    font-weight: 500;
    color: $gray-darker;
  }
}

.product-features {
  margin-top: $medium-space;
  margin-left: 0.3125rem;

  > dl.data-sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    dd.value,
    dt.name {
      flex: 1 0 40%;
      min-height: 2.5rem;
      padding: $small-space;
      margin-right: $small-space;
      margin-bottom: 0.5rem;
      font-weight: 500;
      text-transform: capitalize;
      word-break: normal;
      background: $gray-light;

      &:nth-of-type(even) {
        background: $gray-lighter;
      }
    }
  }
}

.product-variants {
  > .product-variants-item {
    margin: $small-space 0 0;

    select {
      width: 100%;
      padding-right: 1.875rem;
      background-color: $white;
    }

    ul {
      li {
        margin-right: $small-space;

        label {
          margin-bottom: 0;
        }
      }
    }

    .color {
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}

.product-customization {
  margin: $extra-large-space 0;

  .product-customization-item {
    margin: $medium-space 0;
  }

  .product-message {
    width: 100%;
    height: 3.125rem;
    padding: 0.625rem;
    resize: none;
    background: $gray-light;
    border: none;

    &:focus {
      background-color: $white;
      outline: 0.1875rem solid $brand-primary;
    }
  }

  .file-input {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2.625rem;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
  }

  .customization-message {
    margin-top: 20px;
  }

  .custom-file {
    position: relative;
    display: block;
    width: 100%;
    height: 2.625rem;
    margin-top: $medium-space;
    line-height: 2.625rem;
    color: $gray;
    text-indent: 0.625rem;
    background: $gray-light;

    button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
  }

  small {
    color: $gray;
  }
}

.product-pack {
  margin-top: $extra-large-space;

  .pack-product-container {
    display: flex;
    justify-content: space-around;

    .pack-product-name {
      flex: 0 0 50%;
      font-size: 0.875rem;
      color: $gray;
    }

    .pack-product-quantity {
      padding-left: $small-space;
      border-left: $gray-light 2px solid;
    }

    .pack-product-name,
    .pack-product-price,
    .pack-product-quantity {
      display: flex;
      align-items: center;
    }
  }
}

.product-refresh {
  margin-top: $medium-space;
}

.social-sharing {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  justify-content: center;

  ul {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: 0.25rem 0.25rem;
    background-size: 2rem 2rem;
    border-radius: 50%;
    @include transition(all 0.2s ease-in);

    a {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;

      &:hover {
        color: transparent;
      }
    }
  }
}

.products-selection {
  margin-bottom: $medium-space;

  .title {
    color: $gray;
  }
}

.db_list_comments_products {
  margin-left: 0;
  margin-right: 0;
  background-color: #FFF;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .product-comments-list-left {
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.125);

    .nb_totalcomments {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      /*height: 100%;*/
      position: sticky;
      top: 20px;
    }

    .average_grade {
      font-size: 3rem;
      font-weight: 600;
      color: var(--color_font);
      line-height: 3rem;
      padding: 1.9rem 1.6rem;
      border: 2px solid rgba(0, 0, 0, 0.125);
      border-radius: 50%;
    }

    .nb_comments {
      font-size: 0.9rem;
      color: $gray;
    }
  }

  .product-comments-list-right {
    width: 75%;
    position: relative;
  }

  .product-comment-list-item {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0 20px 20px;
    padding-top: 0;

    &:last-child {
      margin-bottom: 0;
      border: 0;
      padding-bottom: 0;
    }

    .comment-infos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      height: auto;
      letter-spacing: 0;
      min-height: 0;
      margin-bottom: 15px;
      font-size: 0.8rem;
    }

    .comment-infos .grade-stars {
      margin-bottom: 0;
      height: 25px;
    }

    .comment-infos {
      .comment-date {
        margin-left: 5px;
      }

      .verificated {
        margin-left: auto;
        color: $brand-success;

        i {
          font-size: 18px;
        }
      }
    }

    .comment-content .comment_title {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 1.05rem;
      color: var(--color_font);
    }

    p {
      color: var(--color_font) !important;
    }

    .comment-buttons a {
      color: $gray;
    }

  }

  #product-comments-list-pagination {
    position: inherit;
    margin: 1.5rem auto 0;

    ul {
      justify-content: center;
    }
  }

  .post-product-comment {
    margin: 1.5rem auto 0;
    display: block;
    box-shadow: none;
    background: var(--button_p_bk);
    color: var(--button_p_color);
    border: 0;

    &:hover {
      background: var(--button_p_bk_hover);
      color: var(--button_p_color_hover);
    }
  }
}


#product .product-comment-modal {
  &#post-product-comment-modal .criterion-rating label {
    color: var(--color_font);
  }

  .post-comment-buttons .btn-comment {
    background: var(--button_p_bk);
    color: var(--button_p_color);

    &:hover {
      background: var(--button_p_bk_hover);
      color: var(--button_p_color_hover);
    }
  }
}

.product_packs_dto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .pack_dto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 32%;
    padding: 0.5rem 1rem;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
    text-align: center;
  }

  .pack_dto.checked {
    border: 2px solid var(--primary_color);
  }
}

@include media-breakpoint-down(md) {
  .product-cover {
    img {
      width: 100%;
      height: auto;
    }
  }

  #product-modal .modal-content .modal-body {
    flex-direction: column;
    margin-left: 0;

    img.product-cover-modal {
      width: 100%;
    }

    .arrows {
      display: none;
    }
  }

  #product-modal .modal-content .modal-body .image-caption {
    width: 100%;
  }

  #blockcart-modal {
    .modal-dialog {
      width: calc(100% - 20px);
    }

    .modal-body {
      padding: 1.875rem;
    }
  }

  .product-images > li.thumb-container > .thumb:not(.selected) {
    border: none;
  }

  #product {
    .product_topview {
      flex-direction: column;

      .block_left, .block_center, .block_right {
        width: 100%;
      }

      &.product_columns_2 .block_left,
      &.product_columns_2 .block_right {
        width: 100%;
      }

      .block_center {
        margin: 0;
      }
    }

    .card {
      background-color: $white;
    }

    .product-customization > .card {
      padding: 1.25rem;
    }

    .db_list_comments_products {
      flex-direction: column;

      > div {
        width: 100%;
      }

      .product-comments-list-left {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #blockcart-modal {
    .divide-right {
      border-right: none;
    }

    .modal-body {
      padding: 1rem;
    }
  }
}
