#product {
  #content {
    position: relative;
    max-width: 452px;
    margin: 0 auto;
  }

  .product_topview {
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .block_left {
      width: 30%;
    }
    .block_center {
      width: calc(42% - 40px);
      margin: 0 20px;
    }
    .block_right {
      width: 28%;
    }
    &.product_columns_2 {
      padding: 0 70px;
    }
    &.product_columns_2 .block_left {
      width: 50%;
    }
    &.product_columns_2 .block_right {
      width: calc(50% - 25px);
    }
    &.product_columns_2 .block_left #content {
      max-width: 100%;
    }
    &.product_columns_2 .block_left #content .product-cover img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
    &.product_columns_2 {
      .blockreassurance_product {
        width: 100%;
        justify-content: center;
      }
    }

    &.product_columns_3 {
      .price_tax {
        display: none;
      }

      .blockreassurance_product {
        flex-direction: column;

        > div {
          width: 100%;
          justify-content: flex-start;

          .block-title {
            flex-direction: row;
            align-items: center;

            .title {
              margin-right: 10px;
            }
          }
        }
      }

      .payment_products {
        flex-direction: column;
        align-items: flex-start;

        .title {
          margin-bottom: 10px;
        }
      }

      .social-sharing {
        justify-content: flex-start;
      }
    }

    .product_cover_thumbnails {
      .splide__arrow {
        top: 50%;
      }
      .splide__arrow--prev {
        right: inherit;
        left: 1rem;
      }
      .splide__arrow--next {
        right: 1rem;
      }
    }

    .sticky_product {
      position: sticky;
      top: 20px;
    }
  }

  .dbfreeshipping {
    font-size: $font-size-detalle;
    line-height: $line-height-detalle;

    strong {
      font-weight: 500;
    }
  }

}

.product-price {
  display: inline-block;
  color: var(--primary_color);
}

#product-description-short {
  color: var(--color_font);

  ul,
  ol {
    padding-left: 0;
    list-style-position: inside;

    li {
      font-size: 0.9375rem;
      color: $gray;
    }
  }

  ul {
    list-style-type: disc;
  }
}

.product-information {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: var(--color_font);

  .title_info_product {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    font-weight: 700;
    margin: 32px 0;
  }

  .card_product_info {
    padding: 40px 85px;

    #product-details-info {
      margin-top: 20px;
    }

    #accordion {
      .btn-link {
        cursor: pointer;
      }
    }

    .product-description {
      p, span, li, strong {
        font-size: $font-size-p2;
        line-height: $line-height-p2;
      }
    }

  }

  .manufacturer-logo {
    height: 3.125rem;
    margin-bottom: 1rem;
    border: none;
  }

  .product-description {
    img {
      max-width: 100%;
      height: auto;
    }

    ul,
    ol {
      padding-left: 0.75rem;
      list-style-position: inside;

      li {
        font-size: $font-size-p2;
        line-height: $line-height-p2;
      }
    }

    ul {
      list-style-type: disc;
    }
  }

  .btn-link {
    width: 100%;
    text-align: left;
    color: var(--color_font);
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color_font);
    font-size: $font-size-h4;
    line-height: $line-height-h4;
    font-weight: 500;
    cursor: default;

    &:hover {
      text-decoration: none;
    }

    > i {
      float: right;
    }

    .collapse_down {
      display: none;
    }
    .collapse_up {
      display: block;
    }

    &:focus {
      outline: 0;
      text-decoration: none;
    }

    &.collapsed {
      > i {
        &.collapse_down {
          display: block;
        }
        &.collapse_up {
          display: none;
        }
      }
    }
  }

  /*.info_content, #product-details {
    padding: 1rem;
  }*/

  #product-details .product-details {
    padding: 0;
  }

  &.open {
    .product-info_title {
      width: 100%;
      text-align: left;
      color: var(--color_font);
      font-size: 18px;
      margin-bottom: 1rem;
      display: table;
    }

    > .card {
      padding: 1rem;
    }

    .info_content,
    #product-details {
      padding: 0;
    }
  }
}

.input-color {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  opacity: 0;
}

.input-container {
  position: relative;
}

.input-radio {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.input-color,
.input-radio {
  &:checked + span,
  &:hover + span {
    border: 2px solid $gray-darker;
  }
}

.radio-label {
  display: inline-block;
  padding: 0.125rem $small-space;
  font-weight: 600;
  background: $white;
  border: 2px solid $white;
}

.product-actions {
  .control-label {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: $font-size-detalle;
    line-height: $line-height-detalle;
    margin-bottom: 4px;
  }

  .add-to-cart {
    line-height: inherit;

    .material-icons {
      line-height: inherit;
    }
  }
}

.product_add_to_cart {
  margin-top: 32px;

  .product-quantity {
    display: flex;
    flex-wrap: wrap;

    .qty,
    .add {
      display: inline-flex;
      float: left;
    }

    .add {
      min-width: calc(100% - 115px);
      /*
      max-width: 70%;
      */

      .add-to-cart {
        width: 100%;
        font-weight: 400;
        text-transform: none;

        > i {
          line-height: inherit;
          margin-right: 4px;
          font-size: 20px;
        }
      }
    }

    .qty {
      margin-right: 5px;
      min-width: 110px;
    }

    #quantity_wanted {
      width: 3rem;
      height: 2.75rem;
      padding: 0.175rem 0.5rem;
      color: var(--color_font);
      background-color: $white;
    }

    .input-group-btn-vertical {
      width: auto;

      .btn {
        padding: 0.5rem 0.6875rem;

        i {
          top: 0.125rem;
          left: 0.1875rem;
          font-size: 19px;
        }
      }
    }

    .btn-touchspin {
      height: 1.438rem;
    }

    .input-group-btn-vertical .btn {
      height: 44px !important;
      padding: 1px 8px !important;
      top: 0;
      margin-top: 0;

      i {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }

  .product-minimal-quantity {
    margin: 0;
  }
}


.bootstrap-touchspin {
  .input-group-btn-vertical .touchspin-up:after {
    content: "\e145";
  }
  .input-group-btn-vertical .touchspin-down:after {
    content: "\e15b";
  }
  #quantity_wanted,
  #quantity_wanted_miniature {
    left: 25px;
    width: 50px;
    height: 44px !important;
    padding: 0;
    text-align: center;
    line-height: 24px;
    border-left: 0;
    border-top: 1px solid var(--color_font);
    border-bottom: 1px solid var(--color_font);
    border-right: 0;
  }
  .input-group-btn-vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    .bootstrap-touchspin-down {
      left: -75px;
      border-left: 1px solid var(--color_font);
      border-top: 1px solid var(--color_font);
      border-bottom: 1px solid var(--color_font);
      border-right: 0;
    }
    .bootstrap-touchspin-up {
      border-left: 0;
      border-top: 1px solid var(--color_font);
      border-bottom: 1px solid var(--color_font);
      border-right: 1px solid var(--color_font);
      left: 26px;

      > i {
        font-size: 13px !important;
      }
    }
  }
}


.product-discounts {
  margin-top: 1rem;

  > .product-discounts-title {
    font-size: $font-size-detalle;
    line-height: $line-height-detalle;
    font-weight: 700;
    margin-bottom: 12px;

    i {
      color: $primary_color;
      margin-right: 4px;
    }
  }

  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: $small-space $medium-space;
      text-align: center;
      background: $white;
      border: 0.3125rem $gray-light solid;
    }

    tbody tr {
      background: $gray-lighter;

      &:nth-of-type(even) {
        background: $white;
      }

      td {
        padding: $small-space $medium-space;
        text-align: center;
        border: 0.3125rem $gray-light solid;
      }
    }
  }
}

.product-prices {
  .product-price {
    margin-bottom: $espacio_8;
  }

  .tax-shipping-delivery-label {
    font-size: $font-size-p2;
    line-height: $line-height-p2;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $gris_300;

    .delivery-information {
      padding: 0 0 0 2px;
      margin-left: 5px;

      /*&::before {
        padding: 0 2px 0 0;
        content: "-";
      }*/
    }

    .available_stock {
      background-color: $verde_100;
      padding: 4px 8px;
      color: $verde;
    }
    .available_stock.unavailable {
      background-color: $rojo;
      color: $blanco;

      > .delivery-information {
        display: none;
      }
    }
    .available_stock.last_remaining_items {
      background-color: $naranja_100;
      color: $naranja;
    }
  }

  .product-quantities label {
    margin-bottom: 0;
  }
}

.product-discount {
  color: $gray;

  .regular-price {
    margin-right: $small-space;
    font-weight: 500;
    text-decoration: line-through;
  }
}

.has-discount {
  &.product-price,
  p {
    color: $brand-secondary;
  }

  .discount {
    display: inline-block;
    padding: 4px 8px;
    font-size: $font-size-minimo;
    line-height: $line-height-minimo;
    font-weight: 400;
    color: $blanco;
    text-transform: uppercase;
    background: $rojo;
  }
}

.product-unit-price {
  margin-bottom: 0;
  font-size: $font-size-small;
  line-height: $line-height-small;
  color: $brand-primary;
}

.tabs {
  padding: $medium-space $large-space;
  margin-top: 2rem;
  background: $white;

  .tab-pane {
    padding-top: $medium-space;
  }

  .nav-tabs {
    border: none;
    border-bottom: $gray-light 2px solid;

    .nav-link {
      color: $gray;
      border: 0 solid transparent;

      &.active {
        color: $brand-primary;
        border: none;
        border-bottom: $brand-primary 3px solid;
      }

      &:hover {
        border: none;
        border-bottom: $brand-primary 3px solid;
      }
    }

    .nav-item {
      float: left;
      margin-bottom: -0.125rem;
    }
  }
}

.product-cover {
  position: relative;
  margin-bottom: $medium-space;

  img {
    background: $white;
    width: 100%;
    height: auto;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background: $negro;
    background: $negro;
    opacity: 0;
    @include transition(opacity 0.7s ease-in-out);

    &:hover {
      opacity: 0.5;
    }

    .zoom-in {
      font-size: 3.125rem;
      color: $btn-primary-color;
    }
  }
}

.displayProductCenterColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  //padding-bottom: 1rem;
  //border-bottom: 1px solid #E0E0E0;

  .product-manufacturer {
    position: relative;
    margin-left: auto;

    .brand_centercolumn {
      display: table;

      img {
        height: 35px;
        width: auto;
        border: 0;
      }
    }
  }

  .dbproductcomments_product_centercolumn {
    margin-bottom: 0;
  }

  .dbproduct_list_reviews {
    margin: 0;
    text-align: left;
  }
}

.product-manufacturer {
  margin-bottom: 4px;

  .brand_centercolumn {
    color: var(--color_font);
    font-size: $font-size-detalle;
    line-height: $line-height-detalle;
    font-weight: 400;

    &:hover {
      color: var(--primary_color);
    }
  }
}

#product .product_name {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: 700;
}

.price_outstanding {
  background-color: $blanco;
  padding: 32px;

  .product-prices {
    .product-price {
      width: 100%;
      //padding-bottom: .625rem;
      //margin-bottom: .625rem;
      //border-bottom: 1px solid rgba(0, 0, 0, .125);
      color: var(--color_font);

      .current-price {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 0;

        .price_with_tax {
          font-size: $font-size-s;
          line-height: $line-height-s;
          font-weight: 700;
          margin-right: 10px;
        }
        .price_tax {
          font-size: 12px;
          font-weight: 400;
          margin-right: 10px;
        }
        .show_pvp {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin-right: 10px;

          .title {
            font-size: .7rem;
          }
          span.old_price {
            text-decoration: line-through;
            font-size: $font-size-base;
            line-height: $line-height-base;
            font-weight: 400;
            color: $gris_400;
          }
          .discount {
            color: $white;
            font-size: .8rem;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            background-color: var(--second_color);
            padding: 1px 6px;
          }

        }
        .show_discount {
          margin-left: auto;
          margin-bottom: auto;
        }
      }

      .product-unit-price {
        color: var(--font_color);
        font-size: $font-size-detalle;
        line-height: $line-height-detalle;
        font-weight: 400;
        margin-top: 4px;
      }

    }

    .product-pack-price {
      font-size: $font-size-detalle;
      line-height: $line-height-detalle;
      font-weight: 400;
      margin-top: -4px;
      margin-bottom: 8px;
    }
  }

  .product-additional-info {
    .dbfreeshipping {
      margin-top: 32px !important;
      color: $gris_400 !important;
    }

    > .tabs {
      padding: 0;

      .js-mailalert {
        .separator {
          margin-bottom: 32px;
          display: block;
          width: 100%;
        }
        .js-mailalert-add {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

}

.product-quantities {
  //margin-top: 1rem;

  label {
    margin-bottom: 0;
  }
}

.blockreassurance_product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 32px 0;
  padding: 0 32px 20px;
  border-bottom: 1px solid $gris_300;

  > div {
    width: calc(33.33% - 20px);
    margin: 0 0 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:last-child {
      margin-bottom: 0;
    }

    .item-product {
      padding: 0;
      margin-right: 10px;
      height: 30px;

      svg {
        height: 30px;
        width: 30px;
      }
    }

    .block-title {
      display: flex;
      flex-direction: column;

      > span {
        font-size: $font-size-small;
        line-height: $line-height-small;
        font-weight: 400;

        &.title {
          font-size: $font-size-p2;
          line-height: $line-height-p2;
          font-weight: 500;
        }
      }
    }
  }
}

.payment_products {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .title {
    font-size: $font-size-detalle;
    line-height: $line-height-detalle;
    font-weight: 400;
    margin-right: 15px;
  }
}

#splide_images_product .splide__slide img,
#splide_images_product_miniature .splide__slide img,
#splide_images_product_miniature_lateral .splide__slide img {
  max-width: 100%;
  height: auto;
}

#splide_images_product_secundary{
  margin: 10px 0;
}

.images-container.images_lateral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  #splide_images_product_secundary_lateral {
    margin-right: 15px;
  }
}

#splide_images_product_miniature_lateral {
  width: calc(100% - 85px);
}

#product .product_topview .product-description {
  color: var(--color_font);
  font-size: $font-size-p2;
  line-height: $line-height-p2;

  p {
    font-size: $font-size-p2;
    line-height: $line-height-p2;
  }
}

#product-modal {
  .modal-content {
    padding: 0;
    background: transparent;
    border: none;

    .modal-body {
      display: flex;
      margin-left: -30%;

      .product-cover-modal {
        background: $white;
      }

      .image-caption {
        width: 800px;
        padding: 0.625rem 1.25rem;
        background: $white;
        border-top: $gray-light 1px solid;

        p {
          margin-bottom: 0;
        }
      }

      .thumbnails {
        position: relative;
      }

      .mask {
        position: relative;
        z-index: 1;
        max-height: 49.38rem;
        margin-top: 2.188rem;
        overflow: hidden;

        &.nomargin {
          margin-top: 0;
        }
      }

      .product-images {
        margin-left: $extra-large-space;

        img {
          width: 9.25rem;
          height: auto;
          cursor: pointer;
          background: $white;

          &:hover {
            border: $brand-primary 3px solid;
          }
        }
      }

      .arrows {
        position: absolute;
        top: 0;
        right: $large-space;
        z-index: 0;
        width: 100%;
        height: 100%;
        color: $white;
        text-align: center;
        cursor: pointer;

        .arrow-up {
          position: absolute;
          top: -2rem;
          opacity: 0.2;
        }

        .arrow-down {
          position: absolute;
          bottom: -2rem;
        }

        i {
          display: inline;
          font-size: 6.25rem;
        }
      }
    }
  }
}

.product-images {
  > li.thumb-container {
    display: inline;

    > .thumb {
      margin-bottom: $small-space;
      cursor: pointer;

      .images-container & {
        margin-right: 0.8125rem;
      }

      &.selected,
      &:hover {
        border: $brand-primary 3px solid;
      }
    }
  }
}

#main {
  .images-container {
    .js-qv-mask {
      overflow: hidden;
      white-space: nowrap;

      &.scroll {
        width: calc(100% - 60px);
        margin: 0 auto;
      }
    }


  }
}

.scroll-box-arrows {
  display: none;

  &.scroll {
    display: block;
  }

  i {
    position: absolute;
    bottom: 1.625rem;
    height: 100px;
    line-height: 100px;
    cursor: pointer;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

#product-availability {
  display: inline-block;
  font-weight: 400;
  font-size: $font-size-p2;
  line-height: $line-height-p2;

  .material-icons {
    line-height: inherit;
  }

  .product-available {
    color: $verde;
  }

  .product-unavailable {
    color: $naranja;
  }

  .product-last-items {
    color: $naranja;
  }
}

#product-details {
  .label {
    font-size: $font-size-base;
    font-weight: 500;
    color: $gray-darker;
  }
}

.product-features {
  margin-top: $medium-space;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  > div.data-sheet {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;

    > span {
      width: calc(50% - 5px);
    }
    .name {
      font-weight: 600;
    }
  }

  > dl.data-sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    dd.value,
    dt.name {
      flex: 1 0 40%;
      min-height: 2.5rem;
      padding: $small-space;
      margin-right: $small-space;
      margin-bottom: 0.5rem;
      font-weight: 500;
      text-transform: capitalize;
      word-break: normal;
      background: $gray-light;

      &:nth-of-type(even) {
        background: $gray-lighter;
      }
    }
  }
}

.product-variants {
  > .product-variants-item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    select {
      width: 100%;
      padding-right: 1.875rem;
      background-color: $blanco;
    }

    ul {
      li {
        margin-right: $small-space;

        label {
          margin-bottom: 0;
        }
      }
    }

    .color {
      margin: 0;
      width: 24px;
      height: 24px;
    }
  }
}

.product-customization {
  font-size: $font-size-p2;
  line-height: $line-height-p2;

  > .card {
    background-color: inherit !important;
    margin-bottom: 20px;
    margin-top: 16px;
  }

  .card-title {
    font-weight: 700;

    i {
      color: $primary_color;
      margin-right: 4px;
    }
  }

  .product-customization-item {
    margin: 12px 0;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      font-weight: 500;
    }
  }

  .product-message {
    width: 100%;
    background: $blanco;
    border: 1px solid $color-font;
    color: $color-font;
    background: $blanco;
    font-size: $font-size-p2;
    line-height: $line-height-p2;
    padding: 8px 16px;
    margin-bottom: -6px;

    &:focus {
      border-color: var(--primary_color);
      outline: 0;
    }
  }

  .file-input {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 42px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
  }

  .customization-message {
    margin-top: 20px;
  }

  .custom-file {
    position: relative;
    display: block;
    width: 100%;
    color: $color-font;
    background: $blanco;
    border: 1px solid $color-font;
    font-size: $font-size-p2;
    line-height: $line-height-p2;
    padding: 8px 16px;

    &::placeholder {
      color: $gris_400;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      height: 40px;
      background-color: #FFF;
      color: $color_font;
      border: 0;
      border-left: 1px solid $color_font;
    }
  }

  small {
    color: $gris_400;
    display: flex;
    margin-top: 4px;
  }

  .btn_personalizacion {
    display: block;
    margin: 20px auto 0;
    /*background-color: #FFF;
    border: 1px solid var(--color_font);
    color: var(--color_font);
    font-weight: 600;
    font-size: 16px;*/

    /*&:hover {
      background-color: var(--color_font);
      color: #FFF;
    }*/
  }

  form > ul {
    margin: 0;
  }
}

.product-pack {
  margin-top: $extra-large-space;

  .pack-product-container {
    display: flex;
    justify-content: space-around;

    .pack-product-name {
      flex: 0 0 50%;
      font-size: 0.875rem;
      color: $gray;
    }

    .pack-product-quantity {
      padding-left: $small-space;
      border-left: $gray-light 2px solid;
    }

    .pack-product-name,
    .pack-product-price,
    .pack-product-quantity {
      display: flex;
      align-items: center;
    }
  }
}

.product-refresh {
  margin-top: $medium-space;
}

.social-sharing {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  padding-bottom: 1.5rem;
  justify-content: flex-start;
  font-size: $font-size-small;
  line-height: $line-height-small;

  ul {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin-left: 0.5rem;
    cursor: pointer;
    @include transition(all 0.2s ease-in);

    a, .datatext {
      white-space: nowrap;
      color: var(--color_font);

      &:hover, &.datatext:hover {
        color: var(--primary_color);
      }
    }
  }
}

#product {
  .dbproductcomments_product {
    .title.h3 {
      text-align: left;
    }

    .general_rating {
      .comment_circle .total_stars {
        font-size: $font-size-detalle;
        line-height: $line-height-detalle;
      }
    }

    .row_opinions {
      .opinion {
        .opinion_header {
          .author, .date, .verificado {
            font-size: $font-size-small;
            line-height: $line-height-small;

            svg, i {
              margin-right: 4px;
            }
          }
        }
        .title_opinion {
          width: 100%;
          font-weight: 500;
          font-size: $font-size-p2;
          line-height: $line-height-p2;
        }

        .text p {
          font-size: $font-size-p2;
          line-height: $line-height-p2;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

.products-selection {
  margin-bottom: $medium-space;

  .title {
    color: $gray;
  }
}

.comment_full {
  background-color: #FFF;
  padding: 1.5rem 0;
  margin-top: 25px;

  .title_comment {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}
.db_list_comments_products {
  margin-left: 0;
  margin-right: 0;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .product-comments-list-left {
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.125);

    .nb_totalcomments {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      /*height: 100%;*/
      //position: sticky;
      top: 20px;
    }

    .average_grade {
      font-size: 3rem;
      font-weight: 600;
      color: var(--color_font);
      line-height: 3rem;
      padding: 1.9rem 1.6rem;
      border: 2px solid #E0E0E0;
      border-radius: 50%;
    }

    .nb_comments {
      font-size: 0.9rem;
      color: var(--color_font);
    }

    .comments-note {
      margin: 10px 0;
    }
  }

  .product-comments-list-right {
    width: 75%;
    position: relative;
  }

  .product-comment-list-item {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0 20px 20px;
    padding-top: 0;

    &:last-child {
      margin-bottom: 0;
      border: 0;
      padding-bottom: 0;
    }

    .comment-infos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      height: auto;
      letter-spacing: 0;
      min-height: 0;
      margin-bottom: 15px;
      font-size: 0.8rem;
    }

    .comment-infos .grade-stars {
      margin-bottom: 0;
      height: 25px;
    }

    .comment-infos {
      .comment-date {
        margin-left: 5px;
        color: var(--color_font);
      }

      .verificated {
        margin-left: auto;
        color: $brand-success;

        i {
          font-size: 18px;
          color: $brand-success !important;
        }
      }
    }

    .comment-content .comment_title {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 1.05rem;
      color: var(--color_font);
    }

    p {
      color: var(--color_font) !important;
    }

    .comment-buttons a {
      color: var(--color_font) !important;
    }

  }

  #product-comments-list-pagination {
    position: inherit;
    margin: 1.5rem auto 0;

    ul {
      justify-content: center;
    }
  }

  .post-product-comment {
    margin: 1.5rem auto 0;
    display: block;
    box-shadow: none;
    background: var(--button_p_bk);
    color: var(--button_p_color);
    border: 0;

    &:hover {
      background: var(--button_p_bk_hover);
      color: var(--button_p_color_hover);
    }
  }
}


#product .product-comment-modal {
  &#post-product-comment-modal .criterion-rating label {
    color: var(--color_font);
  }

  .post-comment-buttons .btn-comment {
    background: var(--button_p_bk);
    color: var(--button_p_color);

    &:hover {
      background: var(--button_p_bk_hover);
      color: var(--button_p_color_hover);
    }
  }
}

.product_packs_dto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .pack_dto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 8px);
    padding: 8px 16px;
    background-color: #FFF;
    border: 1px solid var(--color_font);
    cursor: pointer;
    text-align: center;
    margin: 4px;

    > span {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }

    &:hover {
      border-color: var(--primary_color);

      > span {
        color: var(--primary_color);
      }
    }
  }

  .pack_dto.checked {
    border-color: var(--primary_color);
    color: var(--primary_color);

    > span {
      color: var(--primary_color);
    }
  }
}

#product .dbjointpurchase_product {
  .dbjointpurchase {
    margin-top: 0;

    .dbjointpurchase_products {
      margin-left: -12px;
      margin-right: -12px;
      width: calc(100% + 24px);

      .dbjointpurchase_product {
        margin: 0 12px;
        width: calc(25% - 38px);
        border: 0;
        border-radius: 0;
        padding: 16px;

        .name_product {
          font-weight: 500;

          a {
            font-weight: 500;
            color: $color_font;

            &:hover {
              text-decoration: none;
              color: $primary-color;
            }
          }
        }

        .product_prices {
          .price_product {
            font-size: $font-size-h3;
            line-height: $line-height-h3;
          }

          .old_price {
            color: $gris_400;
            font-size: $font-size-small;
            line-height: $line-height-small;
          }

          .discount {
            color: $rojo;
            font-size: $font-size-small;
            line-height: $line-height-small;
          }
        }

      }

      .icon_more_purchase {
        i {
          font-size: 20px;
          padding: 5px 6px;
          line-height: 20px;
        }
      }
    }

    .dbjointpurchase_footer {
      .regular_price{
        font-size: $font-size-h2;
        line-height: $line-height-h2;
        font-weight: 700;
      }

      .iva {
        font-size: $font-size-small;
        line-height: $line-height-small;
      }
    }

  }
}

@include media-breakpoint-down(lg){
  .product-quantity{
    flex-direction: row;

    .qty,
    .add {
      justify-content: center;
    }

    .qty {
      margin-bottom: 16px;
    }

    .add{
      width: 100%;
    }
  }
}

@include media-breakpoint-down(md) {
  .product-cover {
    img {
      width: 100%;
      height: auto;
      pointer-events: none;
    }
  }

  #product-modal .modal-content .modal-body {
    flex-direction: column;
    margin-left: 0;

    img.product-cover-modal {
      width: 100%;
    }

    .arrows {
      display: none;
    }
  }

  #product-modal .modal-content .modal-body .image-caption {
    width: 100%;
  }

  #blockcart-modal {
    .modal-dialog {
      width: calc(100% - 20px);
    }

    .modal-body {
      padding: 1.875rem;
    }
  }

  .product-images > li.thumb-container > .thumb:not(.selected) {
    border: none;
  }

  #product {
    .product_topview {
      flex-direction: column;

      .block_left, .block_center, .block_right {
        width: 100%;
      }

      &.product_columns_2 {
        padding: 0;

        .block_left,
        .block_right {
          width: 100%;
        }
      }

      .block_center {
        margin: 0;
      }
    }

    .card {
      background-color: $white;
    }

    .product-customization > .card {
      padding: 0;
      background-color: inherit;
    }

    .db_list_comments_products {
      flex-direction: column;

      > div {
        width: 100%;
      }

      .product-comments-list-left {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }

      .product-comment-list-item {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .blockreassurance_product {
      flex-direction: column;

      > div {
        width: 100%;
        justify-content: flex-start;
        margin: 7px 0;
      }
    }

    .product_name {
      margin-bottom: 16px;
    }

    .product_add_to_cart {
      .product-quantity {
        .qty {
          margin-bottom: 16px;
        }
      }
    }
  }

  .product-information {
    .card_product_info {
      padding: 20px;
    }
  }

  .product-features > div.data-sheet {
    width: 100%;
  }

  .payment_products {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1rem;

    .title {
      margin-bottom: 10px;
    }
  }

  .price_outstanding {
    .product-prices {
      .product-price {
        .current-price {
          .price_tax {
            display: none;
          }
        }
      }
    }
  }

  .product_packs_dto {
    .pack_dto {
      width: calc(50% - 8px);
    }
  }

  .social-sharing {
    padding-bottom: 0;
    justify-content: flex-start;
  }

  .product-information {
    margin-top: 1rem;

    .price_outstanding {
      margin-top: 1rem;
    }
  }

  .product-quantity{
    flex-direction: row;

    .qty,
    .add {
      justify-content: flex-start;
    }
  }

  #product .dbjointpurchase_product .dbjointpurchase .dbjointpurchase_products {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    .dbjointpurchase_product {
      width: 100%;
      margin: 12px 0;
    }
  }
}
@include media-breakpoint-down(sm) {
  #blockcart-modal {
    .divide-right {
      border-right: none;
    }

    .modal-body {
      padding: 1rem;
    }
  }
}