#search_filters,
#search_filters_brands,
#search_filters_suppliers {
  padding: 1rem;
  margin-bottom: 1.563rem;
  background: $white;

  > .h6 {
    font-size: .9375rem;
    margin-bottom: 1rem;
  }

  #_desktop_search_filters_clear_all {
    margin: -0.5rem 0 0.5rem;
  }

  .facet {
    border-bottom: 1px solid $gris_300;
    margin-bottom: 16px;
    padding-bottom: 16px;

    > ul {
      margin-bottom: 0;
    }

    .collapse {
      display: block;
    }

    .facet-title {
      color: $gris_400;
      width: 100% !important;
      margin-bottom: 1rem !important;
      font-size: $font-size-h4;
      line-height: $line-height-h4;
      font-weight: 500;
    }

    li {
      margin-bottom: 0.8rem;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        font-size: $font-size-p2;
        line-height: $line-height-p2;
      }

      .facet-label {
        margin-bottom: 0;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: row;
        /*
        flex-wrap: wrap;
        */
        justify-content: flex-start;
        align-content: center;

        a {
          display: inline-block;
          margin-top: 0.4375rem;
          font-size: $font-size-p2;
          line-height: $line-height-p2;
          color: $color-font;
        }

        .search-link {
          color: $color-font;
          font-size: $font-size-p2;
          line-height: $line-height-p2;
          /*
          white-space: nowrap;
          */
          display: flex;
          flex-direction: row;
          align-items: center;

          .magnitude {
            margin-left: 5px;
          }
        }

        .custom-checkbox, .custom-radio {
          top: 0 !important;
          display: flex;
          align-items: center;

          > input {
            margin-top: 0;
          }
          > span {
            margin: 0 0.5rem 0 0;
          }

          input[type="checkbox"]:checked+span {
            background-color: var(--primary_color);
            border-color: var(--primary_color);
          }

          input[type="checkbox"]:checked+span .checkbox-checked {
            display: block;
          }

          .ps-shown-by-js {
            border: 1px solid $color-font;
            width: 16px;
            height: 16px;
            border-radius: 0;

            .checkbox-checked {
              display: none;
              margin: 0;
              font-size: 14px;
              color: #FFF;
            }
          }

          .color.active,
          .color:hover,
          input[type="checkbox"]+span.color.active,
          input[type="checkbox"]+span.color:hover,
          input[type="checkbox"]:checked+span.color {
            border: 1px solid $color-font;
          }

          &:hover span.color {
            border: 1px solid $color-font;
          }

        }
      }

    }
  }

  .ui-slider-horizontal {
    height: 2px !important;
    border: 0;
    max-width: 100%;
    background: $gris_300;

    .ui-widget-header {
      background: var(--primary_color);
    }
    &.ui-slider .ui-slider-handle {
      top: -6px;
      width: 13px;
      height: 13px;
      border: 0;
      border-radius: 50%;
      background-color: var(--primary_color);
    }
  }
}

#search_filters_brands,
#search_filters_suppliers {
  .facet {
    padding-top: 0;

    .facet-label {
      margin-bottom: 0.3125rem;
    }
  }
}


/*** Responsive part ***/
@include media-breakpoint-down(lg) {
  #filters_category {
    .modal-dialog {
      max-width: 380px;
      width: 100%;
      float: right;
      margin: 0;
      height: 100vh;

      .modal-content {
        height: 100%;
        margin: 0;
        border: 0;
        border-radius: 0;
        background-color: #fff;

        .modal-header {
          border-bottom: 0;
          background-color: $negro;
          padding: 16px;

          .modal-title {
            color: $blanco;
            font-weight: 500;
          }
        }

        .modal-body {
          padding: 0;
          height: calc(100% - 92px);
        }
      }
    }

    #search_filters {
      border: 0;
      max-height: calc(100% - 65px);
      overflow-y: scroll;
    }

    #search_filter_controls {
      bottom: 0;
      position: fixed;
      width: 100%;

      .ok {
        background-color: var(--button_p_bk);
        color: var(--button_p_color);
        margin: 0 0.5rem;
        padding: 0.5rem 1.25rem;
      }
    }

  }
}

@include media-breakpoint-down(sm) {
  #category {
    #left-column {
      #search_filters_wrapper {
        margin-right: -30px;
        margin-left: -30px;
      }

      #search_filter_controls {
        margin-bottom: 1rem;
        text-align: center;

        button {
          margin: 0 0.5rem;
        }
      }

      #search_filters {
        padding: 0;
        margin-bottom: 20px;
        border-top: 1px solid $gris_300;
        box-shadow: none;
        margin-left: 1px;

        .ui-slider-horizontal {
          margin-bottom: 20px;
        }

        .facet {
          padding-top: 0;
          border-bottom: 1px solid $gris_300;
          margin-bottom: 8px;
          padding-bottom: 8px;

          .title {
            align-items: center;
            cursor: pointer;
            background-color: $blanco;

            .collapse-icons .remove {
              display: none;
            }
          }

          .title[aria-expanded="true"] {
            .collapse-icons {
              .add {
                display: none;
              }

              .remove {
                display: block;
              }
            }
          }

          .facet-title {
            color: var(--color_font);
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding: 0.625rem;
            margin-bottom: 0 !important;
            background-color: $blanco;
          }

          .h6 {
            display: inline-block;
            margin-bottom: 0;
          }

          .navbar-toggler {
            display: inline-block;
            height: inherit;
            padding: 0 0.625rem 0 0;
          }

          .collapse {
            display: none;

            &.in {
              display: block;
            }
          }

          .facet-label {
            a {
              margin-top: 0;
            }
          }

          ul {
            margin-bottom: 0;

            li {
              padding: 0.625rem;
              border-top: 1px solid $gray-lighter;
            }
          }
        }
      }
    }

    #search_filter_toggler {
      width: 100%;
    }

  }
}

@include media-breakpoint-down(xs) {
  #category {
    #left-column {
      #search_filters_wrapper {
        margin-right: -15px;
        margin-left: -15px;
      }
    }
  }
}
