#subcategories {
  margin-bottom: 20px;

  .subcategory-heading {
    margin-bottom: 20px;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -10px 0 -10px;

    li {
      width: calc(100% / 6 - 20px);
      margin: 12px;
      text-align: center;
      background-color: $blanco;
      max-width: 16.6%;
      flex-grow: 1;


      .subcategory-image {
        padding: 0 0 8px;

        a {
          display: block;
          padding: 9px;
          border: 1px solid $gris_200;

          img {
            max-width: 100%;
            vertical-align: top;
          }
        }
      }

      .subcategory-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: var(--color_font);
        font-size: $font-size-p2;
        line-height: $line-height-p2;
        flex-wrap: wrap;
        align-items: center;
        padding: 16px;

        &:hover {
          color: var(--color_hover);
        }

        img {
          height: auto;
          width: 80px;
          display: block;
          margin: 0 auto;
        }
      }

      .cat_desc {
        display: none;
      }

      &:hover {
        .subcategory-image {
          a {
            padding: 5px;
            border: 5px solid $primary-color;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #subcategories {
    ul {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin: 0 0 0 -10px;
      overflow: auto;
      white-space: nowrap;

      li {
        width: auto;
      }
    }
  }
}
