#category .dbcategorydesc {
    margin-bottom: 0;
    background-color: #FFF;
}

.dbcategorydesc .info_eat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #7a7a7a;
    font-size: 14px;
}

.info_eat .content_left,
.info_eat .content_right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info_eat .content_right {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.info_eat img {
    height: 35px;
    width: auto;
    margin-right: 8px;
}

.info_eat .cat_editor,
.info_eat .cat_review,
.info_eat .date_upd {
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info_eat .font-12 {
    font-size: 12px;
}

.info_eat .cat_tag {
    background: #eafbf7;
    color: #1f9379;
    padding: 5px 15px;
    border-radius: 24px;
    font-size: 0.8rem;
    margin-right: 10px;
}

.info_eat .cat_tag svg {
    flex: 0 0 16px;
    margin: 0px 4px -3px -5px;
    height: 16px;
    width: 16px;
    fill: #28be9c;
}

.info_eat .underline {
    color: #232323;
}

.info_eat .underline:hover {
    text-decoration: underline;
}

.dbcategorydesc p {
    color: #232323;
    font-size: 0.9375rem;
}
.dbcategorydesc ul {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dbcategorydesc ul {
    color: #232323;
    font-size: 0.9375rem;
    list-style: disc;
}


@media (max-width: 991px) {
    .dbcategorydesc .info_eat {
        flex-direction: column;
    }
    .info_eat .content_right {
        text-align: left;
    }
    #category .dbcategorydesc {
        background-color: #FFF;
        margin-left: -15px;
        margin-right: -15px;
    }
    .info_eat .content_right {
        justify-content: space-between;
        margin-top: 0.5rem;
    }
    .info_eat .content_left,
    .info_eat .content_right {
        justify-content: space-between;
    }
    .info_eat .cat_tag,
    .info_eat .date_upd {
        margin-right: 0;
    }

}