<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dbbestseller</name>
	<displayName><![CDATA[DB Best Seller]]></displayName>
	<version><![CDATA[1.1.0]]></version>
	<description><![CDATA[Listado de productos de una categoría específica en el footer de la ficha de producto]]></description>
	<author><![CDATA[dbblinders]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
